<% u = project %>

	<div id="home-project-list" >		
			<%= render 'pages/home/project/project_heading', :project => project %>
		  <div id="home_sidebar_<%= project.id %>">
				<%= render 'pages/home/project/project_sidebar', :project => project %>
		  </div>

      <div style=" width:681px; margin-right:0">
				<% if u.photo.exists? %>	
				  <%= render 'pages/home/project/project_wpic', :project => project %>
				<% else %>
				  <%= render 'pages/home/project/project_woutpic', :project => project %>
				<% end %>
				<% u.project_pages.each do |page| %>
					<div class="more-projects" %>
						<%= link_to page.title.titleize, project_path(u, :page => page.title) %>
					</div>
				<% end %>
			</div>
	</div>
