<div class="container" style="padding-top:20px; padding-bottom:20px; min-height: 550px">

<div class="home_register span-12" style="float:center; margin-left: 16em">

<h1>Log In</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
    </div>

    <div class="submit">
        <%= f.submit "Login" %><br />
    </div>
<% end %>
</div>

</div>