<div class="container" style="padding-top:20px; padding-bottom:20px; min-height: 350px">
    <div class="home_register span-15">
        <div class="span-8"><h1 style="color:#fff">Log In</h1>
            <%= form_for(:session, :url => sessions_path) do |f| %>
            <div class="field">
                <%= f.label :email %><br />
                <%= f.text_field :email %>
            </div>
            <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password %>
            </div>

            <div class="submit">
                <%= f.submit "Login", :id => "register_button" %><br />
            </div>
            <% end %>
        </div>
        <div id="alternate_login" class="span-3" style="padding: 60px; margin-top: 10px; border-left: 1px solid #222;">
            <%= link_to image_tag('facebook-login.png'),  "/auth/facebook"%>
        </div><br />
	<div>
		Forgot Password? <%= link_to("Reset your password here.", "users/1/forgot") %>
	</div>
    </div>
</div>
