<a href="<%= user_url(@user) %>"><%= @user.name %></a> has added you as a collaborator to <a href ="<%= project_url(@project) %>"><%= @project.name %></a> on Holono.<br /><br />
 
<a href="<%= project_url(@project) %>">Click Here</a>
to see the page. <br />

