<a href="<%= user_url(@user) %>"><%= @user.name %></a> has invited you as a collaborator to <a href ="<%= project_url(@project) %>"><%= @project.name %></a> on Holono.<br />

<a href="http://muddpage.com/signup?email=<%= @email %>">Click here to sign up!</a><br /><br />
<a href="http://muddpage.com/projects/1">Holono</a> helps showcase the awesome things that go on at Mudd.  You can post projects, research, clubs, hobbies, and that extensive prank with goldfish that you pulled on your roommate Freshman year.  Don't keep your work hidden away.<br />
</br></br>
<a href="http://muddpage.com/search_projects?page=sort_by_views">Click Here to see what else people are looking at on Holono,</a>
<a href="http://muddpage.com/signup?email=<%= @email %>">or here to register and make a quick page of something you have done.</a>
Wally the Wart would approve.

