Hello,

<a href="<%= user_url(@user) %>"><%= @user.name %></a>  would like to know more about your project,
<a href ="<%= project_url(@project) %>"><%= @project.name %></a>. <a href ="<%= edit_project_url(@project) %>"> Click here</a> if you wish to add more information to your project.
