<div align="center" id ="project_info" class="container">
<%= form_for :email, :url => admin_send_email_path do |f| %>
  		<div class="field">
				<%= f.label :subject %><br />
				<%= f.text_field :subject %>
			</div>

			<div class="field">
				<%= f.label :message %><br />
				<%= f.text_area :message %>
			</div>
    
			<div class="submit">
				<%= f.submit "Send Email to User List" %><br />
			</div>
<% end %>
<div id="user_list">
Current User List: <br />
<% @users.each do |user| %>
	<%= user.name %>, <%= user.email %><br />
<% end %>
</div>
</div>
