	<div class="container">
		
		<div id="home_info_toggle"><%= link_to "What is Holono?", "#" %></div>
	</div>
<div id="home_info">
		</br>
  			<div class="span-15" id="letter">
    			<h2>To all Mudders,</h2>
    			<p>
      				A whole lot of really neat projects, research, and pranks go on around Harvey Mudd College.  But much of it kind of goes unnoticed.  If you weren't at the recent Awesome Things competition, you wouldn't have seen <%= link_to "Kevin Kim's Net Gun", Project.find(51) %>.  Or if you aren't part of the Aero center, you may not know of the <%= link_to "Flight Simulator on Campus", Project.find_by_id(33) %>.  Apparently there are alumni who do cool stuff as well.
    			</p>
				<p>
					We've built Holono to address this problem.  Holono is a platform where you can create pages to showcase your projects and work to your friends, family, employers, and everybody else.   Holono lets you follow other cool projects, so that you know what awesome things are going on in your community. We really hope you enjoy it.	
				</p>
				<p>
					Harvey Mudd College has an awesome community that does amazing things.<br />
					Let's show that to people.
				</p>
			</div>
		<div id="team" class="span-7">
			<div style="color:#EE000B; font-size:2.4em; margin-bottom:0.5em; margin-left:0.2em; text-align:center; border-bottom; margin-bottom:0.3em"> The Holono Team </div>
			<% [User.find(1),User.find(2),User.find(37)].each do |user| %>
				<div class="user_huge", style="width:250px; margin-bottom:1.4em" >
					<div class="user_pic" style="float:left; height:80px; width:80px""><%= image_tag user.profile.photo.url(:standard)%></div> 
					<div class="user_name", style="margin-left:1em; font-size:1.3em"> <%= link_to user.name, user %> </div>
					<div class="user_info", style="margin-left:1.5em; font-size:1em; margin-top:0.4em">
						<% @profile = user.profile %><%= @profile.department %> <%= @profile.occupation %> <%= @profile.year %><br />
					</div>
				</div>
			<% end %>
		</div>
	</div>
