<% u = project %>

	<div id="home-project-list" >		
		
		<div class="span-12">
		<div style = "padding-left:1em">
			<%= render 'pages/home/project/project_heading', :project => project %>
				<% if u.photo.exists? %>	
				  <%= render 'pages/home/project/project_wpic', :project => project %>
				<% else %>
				  <%= render 'pages/home/project/project_woutpic', :project => project %>
				<% end %>
				<% u.project_pages.each do |page| %>
					<div class="more-projects" %>
						<%= link_to page.title.titleize, project_path(u, :page => page.title) %>
					</div>
				<% end %>
				</div>
			</div>
	  <div id="home_sidebar_<%= project.id %>" class="span-6 last">
			<%= render 'pages/home/project/project_sidebar', :project => project %>
	  </div>

	</div>