<% u = project %>

<% if u.photo.exists? %>
	<div id="home-project-list" >
		

		
		
		<div id="home-project-name-div" class="span-12" style="font-size:2em; margin-bottom:0.2em"><%= link_to u.name, u %> <%=  %>
			
			<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= project_url(u)%>" layout="button_count" show_faces="true" ref="holono.com" width="40px"></fb:like>
			
			</div>
		
		
		<div class="span-17">
			<div id="home-user-projects-photo" ><%logo = image_tag u.photo.url(:huge), :size => "450x300" %>    <%= link_to logo, u %></div>
			<div class="user_info_2" class="span-13 last">
				<%= render 'pages/home/user_list', :users => u.users.first(4) %>
				</br>
				Posted <%= u.created_at %>
				</br>
				<% u.kind_list.each do |t| %>
					<div id="project_kind"><%= link_to t, search_projects_path(:search => t) %></div>    
				<% end %> 
		


			</div>
		
			<div id="project-description-div", style="margin-right:13em", class="span-17">
			<%= raw((u.description.nil? || u.description.empty?) ? u.abstract : u.description) %>
			</div>
		 </div>
		
	</div>
		<% else%> 
			<div id="home-project-list" style="padding: 0.3em 0em 2em 0em; min-height:0">								
				
				<div class="float:right;margin-right:25em">
				<% u.users[0,10].each do |p| %>
				<div style="float:right; max-height:40px; border: margin-right:5px;"> <% logo = image_tag p.profile.photo.url(:teeny)%> <%= link_to logo, p, :class => "left"  %> </div>
				<% end %>
				</div>
				
				<div id="home-project-name-div"><%= link_to u.name, u %> </div>
				<div id="project-description-div", style="min-height:12px; margin-right:13em">
					<% if u.abstract.nil? || u.abstract.empty? %>
						<%= truncate(u.description, :length => 310) %>
					<% else %>
						<%= truncate(u.abstract, :length => 310) %>
					<% end %>
				</div>
				<div class="user_info_2" style="padding:0">
					<% u.kind_list.each do |t| %>
						<div id="project_kind"><%= link_to t, search_projects_path(:q => t) %> </div>    
					<% end %> 
				</div>
			</div>
		<% end %>
	
