<a href="#" id="feedback_bar"></a>    
<div id="feedback_form" title="Feedback">
  <%= form_tag admin_feedback_path, :method => :post do %>
    <div class="field">
      <%= label :feedback, "This Website makes as much sense as..." %> 
    </div>
      Rating: <span id="feedback_rate_cap"></span>    
      <div id="feedback_rate_select">
        <%= select(:feedback, :rate, [["Baby STEMS", 1],
                                       ["Frosh Chem", 2],
                                       ["Hum 1",3],
                                       ["Bio", 4],
                                       ["Lunch", 5]]) %>   
      </div>
      <br />
    <div class="field">
      <%= label :feedback, "I'll visit this website again..." %> 
    </div>
      Rating: <span id="feedback_visit_cap"></span>    
      <div id="feedback_visit_select">
        <%= select(:feedback, :visit, [["In the 7th stage of Hell", 1],
                                       ["If it winds up on enough dorm mailing lists, maybe", 2],
                                       ["If my friends are active on it", 3],
                                       ["To post a few projects/research/pranks", 4],
                                       ["It's already my homepage.", 5]]) %>   
      </div>
      <br />
    <div class="field">
    <%= label :content,  "What content do you intend to put on Holono" %>
    
    <%= label :content,  "(If none, please tell us why)" %>
	<%= text_area(:feedback, :content, :size => "10x10") %>
    </div>

    <div class="field">
    <%= label :Extra_Comments, "Any other concerns, questions, comments, or rants?  Feel free to channel your Harvey Mudd anxieties through these next characters." %>
    <%= text_area(:feedback, :extra, :size => "10x10") %>
    </div>

    <div class="submit">
  	<%= submit_tag "Submit Feedback" %><br />
    </div>
  <% end %>
</div>	

<script>
$("#feedback_rate_select").stars({
        inputType: "select",
        captionEl: $("#feedback_rate_cap")
 });
$("#feedback_visit_select").stars({
        inputType: "select",
        captionEl: $("#feedback_visit_cap")
 });

</script>

