	<% content_for :head do %>
<%= javascript_include_tag 'jquery.nivo.slider.pack.js', 'jquery.freeow.min.js' %>
<%= stylesheet_link_tag 'stage' %>
<%= stylesheet_link_tag 'freeow' %>
<%= stylesheet_link_tag 'user' %>

<%= stylesheet_link_tag 'project-list/project-regular' %>
<%= render 'shared/facebook_graph' %>
<% end %>

<div class="container" id="default-container">
	
	<div class="span-4" id="user_projects" style="width:150px">
        	<h2><%= link_to @group.name, @group %> 	</h2>
		<h3><%= @group.description %></h3>
		</br>
		 <h5><%= link_to "New Group", new_group_path() %> </h5>	
		</br>
		<%= form_for @group, :html => { :multipart => true } do |f|  %>
		<%= render 'shared/error_messages', :object => f.object %>
		<div class="field">
			<%= f.label "name" %><br />
			<%= f.text_field :name %>
		</div>
		</br>
		<div class="field">
			<%= f.label 'description' %><br />
			<%= f.text_field :description%>
		</div>
		
		<div class="field">
			<% if @group.photo.exists? %>
				<div> <%= image_tag @group.photo.url(:standard) %>
				 </div>
				</br>
				<%= f.label "Enter Different Photo" %><br />
			<% else %>
				<%= f.label :photo %><br />
			<% end %>
			<%= f.file_field :photo %>
		</div>
		<div class="field">
			<% if @group.banner.exists? %>
				<div> <%= image_tag (@group.banner.url(:standard)) %> </div>
				</br>
				<%= f.label "Enter Different banner" %><br />
			<% else %>
				<%= f.label :banner %><br />
			<% end %>
			<%= f.file_field :banner %>
		</div>
		<div class="submit">
			<%= f.submit "Save Group" %><br />
		</div>
		<% end %>
	</div>
	
        <div class="span-4" id="user_projects" style="width:200px">
		<h2> Group Projects </h2>
		<table>
		<% for project in @projects %>
			<tr>
				<td> <%= link_to project.name, project %> </td> 
				<td> <%= link_to "Remove", delete_projects_group_path(@group, :project_id => project.id), :method => :delete  %> </td>	
			</tr>
		<% end %>
		</table>
	</div>
	<div class="span-4" id="user_projects" style="width:200px">
		<h2> Group Users </h2>
		
		<table>
		<% for relation in @people %>
		<% if relation.user_id %>
		<% user = User.find(relation.user_id) %>
			<tr>
				<td> <%= link_to user.name, user %><%= ' (Admin)' if relation.admin %></td> 
				<td> <%= link_to "Remove", delete_users_group_path(@group, :user_id => user.id), :method => :delete  %> </td>
				<% unless current_group_admin(user) %>
					<td> <%= link_to "Make Admin", add_admins_group_path(@group, :user_id => user.id), :method => :create  %> </td>
				<% end %>
			</tr>
		<% end %>
		<% end %>
		</table>
	</div>
		<div class="span-4" id="user_projects" style="width:150px">
			<h2> All Other Projects </h2>
			
		<table>
		<% for project in @other_projects %>
			<tr>
				<td> <%= link_to project.name, project %> </td>
				<td> <%= link_to "add", add_projects_group_path(@group, :project_id => project.id), :method => :create  %> </td>	
			</tr>
		<% end %>
		</table>

		</div>
		<div class="span-4" id="user_projects" style="width:150px">
			<h2> All Other Users </h2>
		
		<table>

		<% for user in @other_users %>		
			<tr>
				<td> <%= link_to user.name, user %> </td>
				<td> <%= link_to "Add", add_users_group_path(@group, :user_id => user.id), :method => :create  %> </td>
				<td> <%= link_to "Make Admin", add_admins_group_path(@group, :user_id => user.id), :method => :create  %> </td>
			</tr>
		<% end %>
		</table>
		</div>
	</div>
</div>
