<% content_for :head do %>
<%= javascript_include_tag 'jquery.nivo.slider.pack.js', 'jquery.freeow.min.js' %>
<%= stylesheet_link_tag 'stage' %>
<%= stylesheet_link_tag 'freeow' %>
<%= stylesheet_link_tag 'user' %>
<%= stylesheet_link_tag 'project-list/project-regular' %>

<%= render 'shared/facebook_graph' %>

<% end %>

<head>
	
	<style type="text/css">
    		#home-banner{
		background: url("<%= @group.photo.url(:large)%>");
		}
   	</style>
</head>
<div class="container" id="default-container">
    <div id="user_background" class="span-24">	
        <table cellspaceing="0" style="margin:0">
            <tbody>
                <tr>

                    <td id="user_sidebar_position" class="span-6">						
                        <%= render 'groups/groups_stage/sidebar' %>
                    </td>
                    <td id="user_projects" class="span-18 last">
                        <div class="span-18 last" id = "home-banner">	</div>

                        <% if !@type.empty? %>
                        <div id="stage-header">

		            <div class="stage-main-links">
		                <%= link_to @group.projects.count.to_s+" "+"Projects", group_path(:type => "projects", :group => @group) %>
		                <%= link_to GroupRelations.find_all_by_group_id(@group.id).count.to_s+" "+"People", group_path(:type => "people", :group => @group) %>
		            </div>
		
                            <div id="stage-header-text-position">
                                <% if params[:type] == "people" %>
                                <h3> Sort: </h3>
                                <%= link_to "Productivity", group_path(:sort => "projects", :type => "people") %>
                                <%= link_to "Date", group_path(:sort => "date", :type => "people") %>
                                <% else %>
                                <h3> Sort: </h3>
                                <%= link_to "Random", group_path(:sort => "auto", :size => @size, :type => "projects") %>
                                <%= link_to "Popularity", group_path(:sort => "popularity",:size => @size, :type => "projects") %>
                                <%= link_to "Date", group_path(:sort => "date", :size => @size, :type => "projects") %>
                                <h3> Size: </h3>
                                <%= link_to "Large", group_path(:size => "large", :sort => @sort, :type => "projects", :page =>@page) %>
                                <%= link_to "Small", group_path(:size => "small",  :sort => @sort, :type => "projects", :page => @page) %>
                                <% end %>
                            </div>
                        </div>	
                        <div class="stage-header-line"><hr /></div>

                        <% end %>					
                        <%= render :partial => 'pages/stage/result', :collection => @results %>
                        <%= will_paginate @results %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
