<% list.each do |u| %>
	<% if u[0].photo.exists? %>
		<div id="project_list" style="margin-top:0em, padding:0em; min-height:50px;  font-size:1em" >
			<div id="user_projects_photo" class="span-3" style="width:45px"><%logo = image_tag u[0].photo.url(:tiny) %>    <%= link_to logo, u[0] %></div>
			<div style="min-height:50px"> 
<<<<<<< HEAD
				<div id="project_name_div"><%= link_to u[0].name, u[0] %><%= " - Page: #{u[1]}"%>
					<div style="font-size: 0.8em"><%=" Updated #{u[2].strftime("%A at %I:%M %p")}" %></div>
=======
				<div id="project_name_div"><%= link_to u[0].name, u[0] %><%= " - Page #{u[1]}"%>
				</br>
				
				<div style="font-size: 0.9em">
				<%=" Updated #{u[2].strftime("%A at %I:%M %p")}" %></div>
>>>>>>> c5d2936dc4d4fe7261d1d9f4e38b706ccc051133
				</div>

			</div>
		</div>
	<% else%> 
		<div id="project_list" style="padding: 0.3em 0em 0.2em 0em; min-height:4em; font-size:1em">								
<<<<<<< HEAD
			<div id="project_name_div"><%= link_to u[0].name, u[0] %><%= " - Page: #{u[1]}"%> 
				<div style="font-size: 0.8em"><%=" Updated #{u[2].strftime("%A at %I:%M %p")}" %></div>
			</div>
=======
			<div id="project_name_div"><%= link_to u[0].name, u[0] %><%= " - Page #{u[1]}"%> 
				</br>
				<div style="font-size: 0.9em; color:black">
					
				<%=" Updated #{u[2].strftime("%A at %I:%M %p")}" %></div>
				</div>
>>>>>>> c5d2936dc4d4fe7261d1d9f4e38b706ccc051133
		</div>
	<% end %>
<% end %>