<% list.each do |u| %>
	<% if u.photo.exists? %>
		<div id="project_list" style="margin-top:0em, padding:0em" >
			<div id="user_projects_photo" class="span-3"><%logo = image_tag u.photo.url(:thumb) %>    <%= link_to logo, u %></div>
			<div style="min-height:60px"> 
				<div id="project_name_div"><%= link_to u.name, u %><%= " - Updated On: #{u.updated_at.strftime("%A, %B %d - %I:%M %p")}" %></div>
				<div id="project_description_div">
					<% if u.abstract.nil? || u.abstract.empty? %>
						<%= truncate(u.description, :length => 310) %>
					<% else %>
						<%= truncate(u.abstract, :length => 310) %>
					<% end %>
				</div>
				<div class="user_info_2">
					<% u.kind_list.each do |t| %>
						<div id="project_kind"><%= link_to t, search_path(:q => t) %></div>    
					<% end %> 
				</div>
			</div>
		</div>
	<% else%> 
		<div id="project_list" style="padding: 0.3em 0em 2em 0em; min-height:0">								
			<div id="project_name_div"><%= link_to u.name, u %><%= " - Updated On: #{u.updated_at.strftime('%A, %B %d - %I:%M %p')}" %></div>
			<div id="project_description_div" style="min-height:12px">
				<% if u.abstract.nil? || u.abstract.empty? %>
					<%= truncate(u.description, :length => 310) %>
				<% else %>
					<%= truncate(u.abstract, :length => 310) %>
				<% end %>
			</div>
			<div class="user_info_2" style="padding:0">
				<% u.kind_list.each do |t| %>
					<div id="project_kind"><%= link_to t, search_path(:q => t) %></div>    
				<% end %> 
			</div>
		</div>
	<% end %>
<% end %>