<div class="container" style="padding-top:10px; padding-bottom:20px; padding-left:20px">

<h1>Edit Profile</h1>
<%= form_for @profile, :url => update_profile_user_path, :html => { :multipart => true } do |f| %>
	<%= render	'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label "Institution" %><br />
		<%= select( "profile", "institution", ["Harvey Mudd College"]) %>
	</div>
	<div class="field">
		<%= f.label 'Occupation' %><br />
		<%= select( "profile", "occupation", ["Professor", "Student", "Alumni", "Staff"]) %>
	</div>
	<div class="field">
		<%= f.label 'Department' %><br />
		<%= select( "profile", "department", ["Engineering", "Computer Science", "Biology", "Chemistry", "Math", "Physics" ]) %>
	</div>
	<div class="field">
		<%= f.label 'Graduation Year' %><br />
		<%= f.text_field :year %>
	</div>
	
 	<div class="field">
		<%= f.label :photo %><br />
		<%= f.file_field :photo %>
	</div>
	
	<div class="field">
		<%= f.label 'Top 4 Tags for Unique Project Pages ' %><br />
		<%= f.label '(Separate with Commas)' %><br />
		
		<%= f.text_field :top_tag_list %>
	</div>
	
	<div class="submit">
		<%= f.submit "Update Profile" %><br />
	</div>
<% end %>

</div>
