<h1>Edit About</h1>
<%= form_for @profile, :url => update_profile_user_path do |f| %>
<%= render	'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :about %><br />
		<%= f.text_area :about %>
	</div>
	
	<div class="submit">
		<%= f.submit "Update About Page" %><br />
	</div>
<% end %>

