<% if @user.followers.count != 0 %> 

<div style="font-size:2em"> 
Followed by <%= @user.followers.count %> Users </div>
</br>


<div id="users_list">
	<% @user.followers.each do |u| %>
		<div class="user" >
			<div class="user_pic"><% logo = image_tag u.profile.photo.url(:thumb)%> <%= link_to logo, u, :class => "left"  %></div>    
			<div class="user_name"><%= link_to u.name, u %></div>
			<div class="user_info">
				<% @profile = u.profile %><%= @profile.department %> <%= @profile.occupation %> <%= @profile.year %><br />
			</div>
		</div>
	<% end%>
</div>

<% end%>