<% if signed_in? && @current_user == User.find_by_id(params[:id])%>
<br/>
<br/>

<div id="login_special">
 <%= link_to "Edit Contact", user_path(@user, :page => "edit_contact") %>
  </div>
<% end %>

<% if !@user.about.nil?%>

<%= link_to "Website", @profile.website %><br />
<%= link_to "Facebook", @profile.facebook %><br />
<%= link_to "Twitter", @profile.twitter %><br />

<h3> Other:</h3>
<%= @profile.other %>

<% end %>