<% if @projects.count > 5 %>
<div class="span-6 last" style="position:fixed">
	<% else %>
	<div class="span-6 last" >
		<% end %>

		<div id="sidebar_div">
			<div id="user_user_name" style="margin-bottom: 0.3em;">


				<% # This shows the user picture, name, basic info %>
				<div align="center">
					<div id="container", style="width: 100%;">
						
						<% if @profile.photo.exists? %>						
						<%= image_tag @profile.photo.url(:large) %>
						<% end %>
						<div id="user_page_name"  style="top:1px; " >	

								<div style="font-weight: bold; color: #fff;">		
									<h1><%= link_to "#{@user.name}", @user %></h1>
									<% if !@profile.quote.nil? && !@profile.quote.empty? %>
									<h2><%=  raw @profile.quote %></h2>
									<%end%>

								</div>

								<% # This brings up the "Edit Profile" Button %>
								<% if signed_in? && current_user_page? %>	
									<div id="edit_profile">
										<%= link_to "Edit", edit_profile_user_path(current_user) %>
									</div>
								<% end %>


							</div>
						</div>
					</div>




					<% # This shows the follow form and the followers/following info in the necessary times %>



					<% #This makes the  %>

			</div></div>

			<div style="text-align:right; margin-right:0.5em; float:right">
				<div>
					<%= render 'social_links' %>
				</div>
			</div>

 		</div>
