<% content_for :head do %>
  <script>

  </script>
<%end %>
<% if (1..6).include?(@profile.top_tag_list.size) %>
	<div id="project_tag_tabs_center" class="span-18-last">
		<% @profile.top_tag_list.each do |l| %>
			<div id="project_tag_tabs" <%= "id = 'current_project_button'" if l == params[:tag] %> style="line-height: 1.9em; ">	
				<%= link_to l.titleize, user_path(@user, :page => :projects, :tag => l) %>
			</div>
		<% end %>
		<% if @user==current_user %>
			<div id="project_tag_tabs" style="background-color:#F06F00">
				<b><%= link_to "Add Tab", edit_profile_user_path %></b>
			</div>
		<% end %>
		<% if @user.projects.count > 6 %>
			<div style="text-align:right" class="span-6-last">
				<% form_tag(user_path, :method => :get) do %>
					<b><%= link_to "Clear Filters", user_path(@user, :page=> :projects) %> | Filter by:</b> <%= text_field_tag :tag %>  <%= submit_tag "View" %>
				<% end %>
			</div>
		<% end %>
	</div><br />
<% end %>
<% if signed_in? && current_user_page? %>
	<div id="project_list", style="min-height:60px">		
		<div id="user_projects_photo" class="span-3">
			<%=link_to image_tag(src="/images/plus60.png"), new_project_path, :remote => true %>
		</div>
		<div style="min-height:60px">
			<div id="add_project""><%=link_to "Add #{@projects.any? ? "A" : "Your First"} Project", new_project_path, :remote => true %></div>
		</div>
	</div>
<% else %>
	<% unless @projects.any? %>
		<div id="no_projects"><%= "#{@user.name} has no projects!" %></div>
	<% end %>
<% end %>
<% if @projects.any? %>
	<% @projects.each do |u| %>
		<% if u.photo.exists? %>
			<div id="project_list" >
				<div id="user_projects_photo" class="span-3"><% logo = image_tag u.photo.url(:standard) %><%= link_to logo, u %></div>
				<div style="min-height:60px"> 
					<div id="project_name_div"><%= link_to u.name, u %></div>
					<div id="project_description_div">
						<% if u.abstract.nil? || u.abstract.empty? %>
							<%= truncate(u.description, :length => 310) %>
						<% else %>
							<%= truncate(u.abstract, :length => 310) %>
						<% end %>
					</div>
				</div>
				<div class="user_info_2">
					<% u.kind_list.each do |t| %>
						<div id="project_kind"><%= link_to t, user_path(@user, :tag => t) %></div>    
					<% end %> 
				</div>
			</div>
		<% else%> 
			<div id="project_list" style="padding: 0.3em 0em 2em 0em; min-height:0">								
				<div id="project_name_div"><%= link_to u.name, u %> </div>
				<div id="project_description_div" style="min-height:25px">
					<% if u.abstract.nil? || u.abstract.empty? %>
						<%= truncate(u.description, :length => 310) %>
					<% else %>
						<%= truncate(u.abstract, :length => 310) %>
					<% end %>
				</div>
				<div class="user_info_2" style="padding:0">
					<% u.kind_list.each do |t| %>
						<div id="project_kind"><%= link_to t, user_path(@user, :tag => t) %></div>    
					<% end %> 
				</div>
			</div>
		<% end %>
	<% end %>
	</div> 
<% end %>
