<div id="project" class="span-16 colborder">
<h1>Edit Contact</h1>
<%= form_for @user, :html => { :multipart => true } do |f| %>
	<%= render	'shared/error_messages', :object => f.object %>
	
	<div class="field">
		<%= f.label :contact %><br />
		<%= f.text_area :contact %>
	</div>
	
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	
	<div class="field">
		<%= f.label :password_confirmation, "Confirm password" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	
	<div class="submit">
		<%= f.submit "Update Contact Page" %><br />
	</div>
<% end %>
</div>


 </div>

