<<<<<<< HEAD
<% if signed_in? && current_user_page? %>
	<div id="project_list", style="min-height:60px">		
		<div id="user_projects_photo" class="span-3">
			<%=link_to image_tag(src="/images/plus60.png"), new_project_path %>
=======

<% if @projects.any? %>

	<% if signed_in? && @current_user == User.find_by_id(params[:id])%>
		<div id="project_list", style="min-height:60px">		
			<div id="user_projects_photo" class="span-3">
				<%=link_to image_tag(src="/images/plus60.png"), new_project_path %>
			</div>
			<div style="min-height:60px">
				<div id="project_name_div" style="padding-top:1em; font-size: 1.5em;" style="padding-top:0.1em"><%=link_to "Add a Project", new_project_path%> </div>
			</div>
>>>>>>> c5d2936dc4d4fe7261d1d9f4e38b706ccc051133
		</div>
		<div style="min-height:60px">
			<div id="project_name_div" style="padding-top:1em; font-size: 1.5em;" style="padding-top:0.1em"><%=link_to "Add #{@projects.any? ? "A" : "Your First"} Project", new_project_path%> </div>
		</div>
	</div>
<% else %>
	<% unless @projects.any? %>
		<div id="no_projects"><%= "#{@user.name} has no projects!" %></div>
	<% end %>
<% end %>
<% if @projects.any? %>
	<% @projects.each do |u| %>
		<% if u.photo.exists? %>
			<div id="project_list" >
				<div id="user_projects_photo" class="span-3"><% logo = image_tag u.photo.url(:standard) %><%= link_to logo, u %></div>
				<div style="min-height:60px"> 
					<div id="project_name_div"><%= link_to u.name, u %></div>
					<div id="project_description_div">
						<% if u.abstract.nil? || u.abstract.empty? %>
							<%= truncate(u.description, :length => 310) %>
						<% else %>
							<%= truncate(u.abstract, :length => 310) %>
						<% end %>
					</div>
				</div>
				<div class="user_info_2">
					<% u.kind_list.each do |t| %>
						<div id="project_kind"><%= link_to t, user_path(@user, :tag => t) %></div>    
					<% end %> 
				</div>
			</div>
		<% else%> 
			<div id="project_list" style="padding: 0.3em 0em 2em 0em; min-height:0">								
				<div id="project_name_div"><%= link_to u.name, u %> </div>
				<div id="project_description_div" style="min-height:25px">
					<% if u.abstract.nil? || u.abstract.empty? %>
						<%= truncate(u.description, :length => 310) %>
					<% else %>
						<%= truncate(u.abstract, :length => 310) %>
					<% end %>
				</div>
				<div class="user_info_2" style="padding:0">
					<% u.kind_list.each do |t| %>
						<div id="project_kind"><%= link_to t, user_path(@user, :tag => t) %></div>    
					<% end %> 
				</div>
			</div>
		<% end %>
	<% end %>
	</div> 
<% end %>