<div id="user_header_background" class="span-24">
<div id="user_header" class="span-24">

<h1>
<%= @user.name %>
</h1>

<div class="span-10">
<h2>
<%= @profile.department %>
<%= @profile.occupation %>
<%= @profile.year %>
</h2>
</div>

<div class="span-14 last">
<% list = @profile.top_tag_list %>
<% if (list.size > 0) && (list.size < 5) %>
<% list.each do |l| %>
<div class="header_tabs" <%="id = 'current_tab'" if l == params[:tag]%>  >
		
<%= link_to l.titleize, user_path(@user, :tag => l)  %>
</div>
<% end %>
<% end %>

</div>
</div>
</div>