<div id="projects">
	<% if signed_in? && @current_user == User.find_by_id(params[:id]) %>
		<div id="login_special", align="center">
			<%=link_to "Edit Your Profile!", user_path(@user, :page => "edit_profile") %>
		</div>	
	<% end %>
	
	<div align="center">
		<% if @profile.photo.exists? %>
			<%= image_tag @profile.photo.url(:small) %>
		<% end %>
	</div>
			
	<%= render 'follow_form' if signed_in? %>

	<div id="project_tabs_background" class="span-6" style="margin: 0.2em 0 0.6em 0">
		<div id="project_tabs_background_2" >
			<% ["About","Contact","Projects"].each do |page| %>
				<div class="project_tabs">
					<%= link_to page, user_path(@user, :page => page.downcase) %>
				</div>
			<% end %>
	</div>	</div>		
					
	</br>
</br>
</br>
	<div id="following">
		<div style="font-size: 1.3em">
		<%= link_to "Following", user_path(@user, :page => "following") %>
		</div>
		<%= @user.projects_following.count %> Projects <%= @user.users_following.count %> Users<br />
	</div>
	
	<div id="following">
		<div style="font-size: 1.3em">
		
		<%= link_to "Followers", user_path(@user, :page => "followers") %>
		</div>
		
		<%= @user.followers.count %> Users
	</div>
	

	
</div>