<% if @user.users_following.count != 0 %> 

<div style="font-size:2em"> 
Following <%= @user.users_following.count %> Users </div>

<div id="users_list", style="margin-left:18em">
	<% @user.users_following.each do |u| %>
		<div class="user" >
			<div class="user_pic"><% logo = image_tag u.profile.photo.url(:tiny)%> <%= link_to logo, u, :class => "left"  %></div>    
			<div class="user_name"><%= link_to u.name, u %></div>
			<div class="user_info">
				<% @profile = u.profile %><%= @profile.department %> <%= @profile.occupation %> <%= @profile.year %><br />
			</div>
		</div>
	<% end%>
</div>
<% end%>



<% if @user.projects_following.count != 0 %> 

<div style="font-size:2em"> 
Following <%= @user.users_following.count %> Projects </div>

</br>

<% @user.projects_following.each do |u| %>
	<% if u.photo.exists? %>
		<div id="project_list" >
			<div id="user_projects_photo" class="span-3"><%logo = image_tag u.photo.url(:tiny) %>    <%= link_to logo, u %></div>
			<div style="min-height:60px"> 
				<div id="project_name_div"><%= link_to u.name, u %></div>
				<div id="project_description_div">
					<% if u.abstract.nil? || u.abstract.empty? %>
						<%= truncate(u.description, :length => 310) %>
					<% else %>
						<%= truncate(u.abstract, :length => 310) %>
					<% end %>
				</div>
			</div>
			<div class="user_info_2">
				<% u.kind_list.each do |t| %>
					<div id="project_kind"><%= link_to t, user_path(@user, :tag => t) %></div>    
				<% end %> 
			</div>
		</div>
	<% else%> 
		<div id="project_list" style="padding: 0.3em 0em 2em 0em; min-height:0">								
			<div id="project_name_div"><%= link_to u.name, u %> </div>
			<div id="project_description_div" style="min-height:25px">
				<% if u.abstract.nil? || u.abstract.empty? %>
					<%= truncate(u.description, :length => 310) %>
				<% else %>
					<%= truncate(u.abstract, :length => 310) %>
				<% end %>
			</div>
			<div class="user_info_2" style="padding:0">
				<% u.kind_list.each do |t| %>
					<div id="project_kind"><%= link_to t, user_path(@user, :tag => t) %></div>    
				<% end %> 
			</div>
		</div>
	<% end %>
<% end %>

<% end%>