<h1>Edit About</h1>
<!-- Skin CSS file -->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/assets/skins/sam/skin.css">
<!-- Utility Dependencies -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script> 
<!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
<script src="http://yui.yahooapis.com/2.8.2r1/build/container/container_core-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/menu/menu-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.2r1/build/button/button-min.js"></script>
<!-- Source file for Rich Text Editor-->
<script src="http://yui.yahooapis.com/2.8.2r1/build/editor/editor-min.js"></script>
<%= form_for @profile, :url => update_profile_user_path do |f| %>
<%= render	'shared/error_messages', :object => f.object %> 
	<div class="field">
		<%= f.label :about %><br />
		<%= f.text_area :about %>
	</div>
	
	<div class="submit">
		<%= f.submit "Update About Page" %><br />
	</div>
<% end %>
<script>

YAHOO.util.Event.onDOMReady(function () {
    var myEditor = new YAHOO.widget.Editor('profile_about', {
        height: '300px',
        width: '500px',
        handleSubmit: true
    });
    myEditor.get('toolbar').titlebar = false;
    myEditor.render();
});

 
</script>



