<div class="container" style="padding-top:20px; padding-bottom:20px; min-height: 550px">
	<div class="home_register span-12" style="float:center; margin-left: 16em">
		<h1>Create Profile</h1>
		<%= form_for @profile, :url => update_profile_user_path, :html => { :multipart => true } do |f| %>
			<%= render	'shared/error_messages', :object => f.object %>
			<div class="field">
				<%= f.label "Institution" %><br />
				<%= f.text_field :institution %>
			</div>
			<div class="field">
				<%= f.label 'Occupation' %><br />
				<%= select( "profile", "occupation", [ "Student", "Professor", "Alumni", "Staff"]) %>
			</div>
			<div class="field">
				<%= f.label 'Department' %><br />
				<%= select( "profile", "department", [ "Biology", "Biology/Chemistry", "Chemistry", "Computer Science", "Engineering", "HSA","Mathematics", "Mathematics/Computer Science", "Mathematical Biology", "Physics", "Independent", "Undecided", "Off-Campus" ]) %>
			</div>
			<div class="field">
				<%= f.label 'Graduation Year' %><br />
				<%= f.text_field :year %>
			</div>
			<div class="field">
				<%= f.label 'Facebook link' %><br />
				<%= f.text_field :facebook %>
			</div>
			<div class="field">
				<%= f.label 'LinkedIn link' %><br />
				<%= f.text_field :linked_in %>
			</div>
			<div class="field">
				<%= f.label 'Twitter link' %><br />
				<%= f.text_field :twitter %>
			</div>
			<div class="field">
				<%= f.label :photo %><br />
				<% if @profile.photo.exists? %>
					<%= image_tag @profile.photo.url %>
				<% end %>
				<%= f.file_field :photo %>
			</div>
			<div class="field">
				<%= f.label :interesting_photo %><br />
				<%= f.file_field :interesting_photo %>
			</div>
			<div class="field">
				<%= f.label :awesome_photo %><br />
				<%= f.file_field :awesome_photo %>
			</div>
			<div class="submit">
				<%= f.submit "Finish Registration" %><br />
			</div>
		<% end %>
	</div>
</div> 
