<div id="profile_div" class="span-10 colborder">
<h1>
<%= @user.name %>
<%#= @user.email %>
</h1>
<% if signed_in? %>
  <%=link_to "Edit Profile", edit_user_path(current_user) %>	
<% end%> 
</div>

<div id="user_projects" class="span-13 last">
<%if @user.projects.any? %>
  <div id="project">
    <h2><%= pluralize(@user.projects.count, "Project") %>:</h2>
    <table border="0" cellspacing="5" cellpadding="5">
          <% @projects.each do |p| %>
            <tr>
              <td width="80px;"><%=image_tag("gravatar.jpg") %></td>
              <td>
                <table border="0" id="project_summary">
                <tr><td><%= link_to p.name, p %></td></tr> 
                <tr><td><%= p.description %></td></tr>
                <tr><td><%= p.kind%></td></tr>
                </table>
              </td>
                          
            </tr>
          <% end %>
    </table>
    
  </div>
</div>

 

<% end %>
