<div id="profile_div" class="span-9">
<h1>
<%= @user.name %>
<br />
</h1>
<% if signed_in? && @current_user == User.find_by_id(params[:id])%>
<div id="login_special"> <%=link_to "Edit Your Profile!", edit_user_path(current_user) %></div>	
<% end%>

<% if @user.photo.exists? %>
<%= image_tag @user.photo.url(:small) %>
<% end %>


 <br \>
<%= @user.institution %>
<%= @user.occupation %>
<%= @user.year %>
 </div>
<div id="user_projects" class="span-14 last">
   <%= render 'users/users_sidebar' %>
</div> 
