<% javascript_include_tag "mulitselector" %>

<%= render 'projects/ShowProject/project_pages' %>

<div id="project_page_align">

	<% unless @project.attachments.empty? %>
			<div class="span-5 last">
				<table>
					<% @project.attachments.each do |file| %>
						<div class="project-attachment-picture-position">
							<% name = file.file_file_name %>
							<% icon = image_tag("/images/icons/filetypes/#{icon_finder(name).titleize}.png", :class=>"project-attachment-picture-size") %>
						</div>

							<div class="span-4 last" class=".project-attachment-delete-position">
							<tr>
							<%= form_tag attachment_path(file), :method => :delete, :confirm => "Are you sure?" do %>
								<td><%= link_to icon, file.file.url %></td>
								<td><%= link_to "#{name}", file.file.url %></td>
								<td><%= image_submit_tag("icons/delete.png", :class=>"project-attachment-delete-picture") if current_project_user?%></td>
							<% end %>
							</tr>
							<tr></tr>
						</div>
					<% end %>
				</table>
			</div>
		</div>
	<% end %>
	
	<% if current_project_user? %> 

		<div class="span-5 last" id = "attachment_submit" >
			<% form_for :attachment, :url => create_attachment_project_path, :html => { :multipart => true } do |f| %>
				<div class="field">
					<%= f.label :Upload_File %><br />
					<%= f.file_field(:file, :size => "30") %>
				</div>
				<div class="submit">
					<%= f.submit "Add File" %><br />
				</div>
			<% end %>
		</div>
		
		
	<% end %>
	



	<% if !current_project_user? %>
	
		<% unless @more_by_team.nil? ||  @more_by_team.empty?  %>
			<div class="project-more-position">		
				<div class="project-more-text">
					More by Group Members
				</div>
				<hr class="project-more-line">
				<% @more_by_team.each do |project| %>
				<div class="project-more-photo-position"><% logo = image_tag project.photo.url(:thumb), :class=>"project-more-photo-position" %><%= link_to logo, project %></div>
				<% end %>
			</div>
		<% end %>
		<% if !(@user_projects.nil? || @user_projects.empty?) %>
			<div class="project-more-position">		
				<div class="project-more-text">
				More by <%= @user.name %>
				</div>
				<hr class="project-more-line">
				<% @user_projects.each do |project| %>
				<div class="project-more-photo-position"><% logo = image_tag project.photo.url(:thumb), :class=>"project-more-photo-position" %><%= link_to logo, project %></div>
				<% end %>
			</div>
		<% end %>
	
		<% if @similar_projects.count > 3  %>
			<div class="project-more-position">		
				<div class="project-more-text">
					Similar Projects
				</div>
				<hr class="project-more-line">
				<% @similar_projects.each do |project| %>
				<div class="project-more-photo-position"><% logo = image_tag project.photo.url(:thumb), :class=>"project-more-photo-position" %><%= link_to logo, project %></div>
				<% end %>
			</div>	
		<% else %>
			<div class="project-more-position">		
				<div class="project-more-text">
					Other Interesting Projects
				</div>
				<hr class="project-more-line">
				<% @cool_projects.each do |project| %>
				<div class="project-more-photo-position"><% logo = image_tag project.photo.url(:thumb), :class=>"project-more-photo-position" %><%= link_to logo, project %></div>
				<% end %>
			</div>
		<% end %>
	<%end%>	
	
	<% if !@project.groups.empty? %>
	<% @project.groups.each do |group| %>
	<% logo = image_tag group.banner.url(:banner), :style=>"width:180px" %><%= link_to logo, group %>
	<% end %>
	<% end %>
</div>
