<% if @pages.any? || current_project_user? %>
	<div id="project_tabs_left">
		<div style="width:100%; background:rgba(250,250,250,0.6); border-radius: 0 0.2em 0 0; float:left; padding-bottom:1em">
			<div style="padding:0.6em 0.5em 0.5em 0.5em">
				<div class="header_tabs" <%= "id = 'current_tab'" if @page_is_main %> >	
					<%= link_to "Home", @project %>
				</div><br />
					<% @pages.each do |page| %>
						<div class="header_tabs" <%= "id = 'current_tab'" if page.title == params[:page] %>>
							<%= link_to page.title.titleize, project_path(@project, :page => page.title) %>
						</div><br />
					<% end %>
			
				<% if current_project_user? %>
					<div class="header_tabs" style="background-color: #52DC0D">
						<%= link_to "New Page", newpage_project_path %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% end %>