
<div class="container", style="margin-top:3em">



	<div id="header_title">
    <h1>It's what <b>you</b> do</h1>
	</div>

	<div style="position:relative; top:-77px; width:0px; left:644px; height:50px; float:left">
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/pages/Holono/196684820344419" show_faces="true" width="300" colorscheme="dark"></fb:like>	
	</div>
	<div id="home_top_container">		
		<div id="home_project_box" class="span-16">
			<div id="slider", style="margin-left:8px">
				<% @slider_projects.each do |p| %>
					<a href="<%= project_url(p) %>"><img src="<%= "frontpage/#{p.id}.jpg"%>" title="<%= "#title_#{p.id}" %>"/></a>
				<% end %>
			</div>
		</div>
		<div id="registration_box" class="span-7"><%= render 'pages/signup' %></div>
	</div>

	<% @slider_projects.each do |p| %>
		<div id="title_<%= p.id %>" class="nivo-html-caption">
		<strong><%= "#{p.name}" %>: </strong> <%= "#{p.abstract}" %>
		</div>
	<% end %>
	<%render 'pages/main_bottom' %>
</div>
