
<div class="container", style="margin-top:1em">
	
	<div id="blurb">

	<h1>Showcase What You Do</h1>
	
	<%= link_to "See The Stage", 'stage'%>

</div>
	<div id="home_top_container">	
		<div id="home_project_box" class="span-16">
			<div id="slider", style="margin-left:8px">
				<% @slider_projects.each do |p| %>
					<a href="<%= project_url(p) %>"><img src="<%= "frontpage/#{p.id}.jpg"%>" title="<%= "#title_#{p.id}" %>"/></a>
				<% end %>
			</div>
		</div>
		<div id="registration_box" class="span-7"><%= render 'pages/signup' %></div>
	</div>

	<% @slider_projects.each do |p| %>
		<div id="title_<%= p.id %>" class="nivo-html-caption">
			<strong><%= "#{p.name}" %>: </strong> <%= "#{p.abstract}" %>
		</div>
	<% end %>
	<%render 'pages/main_bottom' %>


</div>
