<div class="span-9-last" >
	<div id="home_bottom_box_top", style=" margin-left:.8em; margin-right:.3em; ">
		<div style a=" border-bottom:0px; font-size:2.4em; line-height:0.3em; margin-left:1.6em; margin-right:1.4em;">	
			<%= link_to "New Users", search_users_path(:page=> "sort_by_creation")%>
		</div>
	</div>
	<div id="home_bottom_box",  style="background-color:white; padding-top:0.2em; padding:0.3em">
		<div id="users_list", style="margin-left:0em">
			<% @users_new.each do |u| %>
				<div class="user" ">
					<div class="user_pic"><% logo = image_tag u.profile.photo.url(:tiny)%> <%= link_to logo, u, :class => "left"  %></div>    
					<div class="user_name"><%= link_to u.name, u %></div>
					<div class="user_info">
						<% @profile = u.profile %><%= @profile.department %> <%= @profile.occupation %> <%= @profile.year %><br />
						<%= link_to "#{u.projects.count} #{u.projects.count == 1 ? 'Project' : 'Projects'}", user_path(u) %> | <%= link_to "#{u.followers.count} #{u.followers.count == 1 ? 'Follower' : 'Followers'}", user_path(u, :page => "followers") %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>