	<% u = project %>

	<% if u.photo.exists? %>
		<div id="project_list" style="margin-top:0em, padding:0em" >
			
			<div class="float:right;margin-right:25em">
			<% u.users.each do |p| %>
			<div style="float:right; max-height:40px;border: margin-right:5px;"> <% logo = image_tag p.profile.photo.url(:teeny)%> <%= link_to logo, p, :class => "left"  %> </div>
			<% end %>
			</div>
			
			<div id="user_projects_photo" class="span-3"><%logo = image_tag u.photo.url(:standard) %>    <%= link_to logo, u %></div>
			<div style="min-height:60px"> 
				<div id="project_name_div"><%= link_to u.name, u %></div>
				<div id="project_description_div">
					<% if u.abstract.nil? || u.abstract.empty? %>
						<%= truncate(u.description, :length => 310) %>
					<% else %>
						<%= truncate(u.abstract, :length => 310) %>
					<% end %>
				</div>
			</div>
			<div class="user_info_2">
				<% u.kind_list.each do |t| %>
					<div id="project_kind"><%= link_to t, search_projects_path(:search => t) %></div>    
				<% end %> 
			
			</div>
		</div>
			<% else%> 
				<div id="project_list" style="padding: 0.3em 0em 2em 0em; min-height:0">								
					<div id="project_name_div"><%= link_to u.name, u %> </div>
					<div id="project_description_div" style="min-height:12px">
						<% if u.abstract.nil? || u.abstract.empty? %>
							<%= truncate(u.description, :length => 310) %>
						<% else %>
							<%= truncate(u.abstract, :length => 310) %>
						<% end %>
					</div>
					<div class="user_info_2" style="padding:0">
						<% u.kind_list.each do |t| %>
							<div id="project_kind"><%= link_to t, search_projects_path(:q => t) %> </div>    
						<% end %> 
					</div>
				</div>
			<% end %>
		
