
<% if admin_user? %>
	<div id="delete_user" style="float: left; margin-left:20em">
		<%= form_tag user_path(user), :method => :delete do %>
			<div class="submit">
				<%= submit_tag "Delete User" %><br />
			</div>
		<% end %>
	</div>
	</br>
  <% end %>

<div class="user" >
	<div class="user_pic" style="float:left;"><%= image_tag user.profile.photo.url(:tiny)%>  </div> 
	<div class="user_name"><%= link_to user.name, user %></div>
	<div class="user_info">
		<% @profile = user.profile %><%= @profile.department %> <%= @profile.occupation %> <%= @profile.year %><br />
	</div>

</div>
