<div class="container">

<div id="home">
	<br />
	
<h1> Free Hosting For Projects, Research, and Creations </h1> 

<br />
	
<div class="background_2">
	
</div>

<h2> Showcase your work 
	<br />
	to friends, family,
	<br /> 
    and employers
</h2>
	
<br />


<h2> Find the awesome things 
	<br />
	 being made in the
	<br /> 
	 Harvey Mudd Community
</h2>
<br />

<h2> Keep in touch with
	<br />
	 project developments
	<br /> 
	 and give advice
	<br /> 
	 to colleagues
</h2>
<br />

<div id="home_button"><%=link_to image_tag(src="/images/button.png"), create_path%></div>


<div class="home_1"> 

<div style="padding-left:160px; padding-top:30px; padding-bottom:500px">
	
	<div class="home_register span-7">
	<h3>Make a New Profile</h3>
	<%= form_for @user do |f| %>
		<%= render	'shared/error_messages', :object => f.object %>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</div>
		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		</div>
		<div class="field">
			<%= f.label :password_confirmation, "Confirm password" %><br />
			<%= f.password_field :password_confirmation %>
		</div>
		<div class="submit">
			<%= f.submit "Register" %><br />
		</div>
	<% end %>
	</div>
	
	
	<% if signed_in? %>
	<%=link_to "Edit Profile", edit_user_path(current_user) %>	
	<% end %>


</div> 

<br />

<hr />
<br />
</div> 

<div class="container" style="color:#EE4B16; font-color:white; margin-left:2em; font-size:2.5em">

<p> Sample Pages: </p>

<table>
<% [User.find_by_name("Q"),User.find_by_name("W&G"),User.find_by_name("Brain"),User.find_by_name("Professor Paul"), User.find_by_name("Student Sam")].each do |i| %>
<% if !i.nil? %>
<tr>
  <td width="80px;"><%logo = image_tag i.profile.photo.url(:thumb) %>   <%= link_to logo, i %></td>
  <td>
	<div id="project_name_div" ><%= link_to i.name, i %></div> 
  </td>
</tr>
<% end %>
<% end %>
</table>


</div>
</div>