<div class="container">
	<div id="home">
		<br />
		<%= render 'main_info' %><br />
		<div id="home_button"><%=link_to image_tag(src="/images/button.png"), create_path%></div>
		<div class="home_1"> 
			<div style="padding-left:160px; padding-top:30px; padding-bottom:500px">
				<div class="home_register span-7">
					<%= render 'signup' %>
				</div>
				<% if signed_in? %>
					<%= link_to "Edit Profile", edit_user_path(current_user) %>	
				<% end %>
			</div>
		</div><br />
		<hr /><br />
	</div> 
	<div class="container" style="color:#EE4B16; font-color:white; margin-left:2em; font-size:2.5em">
		<%= render 'sample_users' %>
	</div>
</div>
