<h1> Welcome to MuddFish </h1>
<% if signed_in? %>
<%=link_to "Edit Profile", edit_user_path(current_user) %>	
<h2> Notes: </h2>
<p> we should institute a search feature here and a link to view profile. I'm trying to figure out searches now. </p>
<% else %>
<h2>Log In</h2>
<%= form_for(:session, :url => sessions_path) do |f| %>

    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
    </div>

    <div class="submit">
        <%= f.submit "Login" %><br />
    </div>
<% end %>
<% end %>


