<div id="home_background" class="span-24">

<div id="home">
<h1> Welcome to 
	<span style="color: #E46900;"> MuddPage </span> </h1> 

<br />

<h2> <span style="color: #E46900;"> MuddPage </span> allows the Harvey Mudd Community to showcase its ( awesome ) work </h2>
</div>
<br />
<p> Look at some of our sample pages! </p>
<br />
<table>
<% [User.find_by_name("Q"),User.find_by_name("Wallace"),User.find_by_name("Brain"),User.find_by_name("Professor Paul"), User.find_by_name("Student Sam")].each do |i| %>
<% if !i.nil? %>
<tr>
  <td width="80px;"><%logo = image_tag i.profile.photo.url(:thumb) %>   <%= link_to logo, i %></td>
  <td>
	<div id="project_name_div"><%= link_to i.name, i %></div> 
  </td>
</tr>
<% end %>
<% end %>
</table>
<br />


<% if signed_in? %>
<%=link_to "Edit Profile", edit_user_path(current_user) %>	
<% else %>
<div class="home_register span-11">
<h3>Log In</h3>
<%= form_for(:session, :url => sessions_path) do |f| %>
    <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
    </div>
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
    </div>
    <div class="submit">
        <%= f.submit "Login" %><br />
    </div>
<% end %>
</div>


<div class="home_register span-11">
<h3>...or make a new profile</h3>
<%= form_for @user do |f| %>
	<%= render	'shared/error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Confirm password" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="submit">
		<%= f.submit "Register" %><br />
	</div>
<% end %>
</div>
<% end %>



</div>


