<% content_for :head do %>
<%= javascript_include_tag 'jquery.nivo.slider.pack.js' %>
<%= stylesheet_link_tag 'home1' %>
<%= render 'shared/facebook_graph' %>
<% end %>
<div id="home">
	<%= render 'pages/home/main_info' %>
</div>
<div class="container" style="padding-top:8px; padding-bottom:20px; min-height: 350px">
	<div id="user_background" class="span-24">	
		<table cellspaceing="0" style="margin:0">
			<tbody>
				<tr>
					<td id="profile_div" class="span-6">
						<%= render 'pages/home/sidebar' %>
					</td>
					<td class="span-18 last" style="vertical-align:top">
						<%= render :partial => 'pages/home/project', :collection => @projects %>
						<%= will_paginate @projects %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

