<%= stylesheet_link_tag 'project-list/project-search' %>
<%= stylesheet_link_tag 'project-list/project-regular' %>
<div class="container" style="padding-bottom:20px; min-height: 550px">
	<div class="search_top">
		<div style="float:left; color:white; font-size:2em; position:relative; line-height:0; top:13px">
			<%= "Browse" %>
		</div>
		<%= form_tag search_projects_path, :method => :get, :remote => true do %>
			<div class="submit", style="float:right; margin-top:0.4em">
				<%= submit_tag "Search Projects" %><br />
			</div>
			<div class="field" style="float:right; margin-right:0.5em;">
				<%= text_field_tag :search, params[:search], :id => "main_search_box" %> 
			</div>
		<% end %>
		<div id="search_names" style="float:right; margin-top:0.2em;margin-right:2em;">		
			<%= link_to "Users", search_users_path %>
		</div>
		<div id="search_names_chosen" style="float:right;  margin-top:0.2em">
			<%= link_to "Projects", search_projects_path %>
		</div>	
	</div>
	<div class="search_bottom">
		<div class="search_options_box">
			<div id="project_lists", style="height:28px;margin-right:18em">	
				<%= link_to "Recently Created", search_projects_path(:page=> "sort_by_creation") %>
				<%= link_to "Recently Updated", search_projects_path(:page=> "sort_by_update") %>
				<%= link_to "Most Popular", search_projects_path(:page=> "sort_by_views") %>
			</div>
			<% links_generator %>
			<% @links[1,15].each do |u| %>
				<div id="popular_tags"><%= link_to u[0], search_projects_path(:search => u[0]) %> <%="[ #{u[1]} ]" %> </div>
			<% end %>
		</div>
		<div id="users_list"></div>
		<%= render :partial => "project", :collection => @projects_found %>
		<% if params[:search]%>
		<% end %>
		<div id="invite_user"></div>
		<br />
	</div>
</div>
