<div class="container" style="padding-top:10px; padding-bottom:20px; min-height: 550px">



	<div class="search_top">
		<div style="float:left; color:white; font-size:2em; position:relative; line-height:0; top:13px">
			<%= "Search" %>
		</div>
		
			
		<%= form_tag search_users_path, :method => :get, :remote => true do %>
				<div class="submit", style="float:right; margin-top:0.4em">
					<%= submit_tag "Search Users" %><br />
				</div>
				<div class="field" style="float:right; margin-right:0.5em;">
					<%= text_field :search, params[:search], 
	                         :id => "main_search_box" %> 
				</div>
		<% end %>
		
		<div id="search_names_chosen" style="float:right; margin-top:0.2em;margin-right:2em;">		
			<%=link_to "Users", search_users_path%>
		</div>
		<div id="search_names" style="float:right;  margin-top:0.2em">
			<%=link_to "Projects", search_projects_path%>
		</div>	
	</div>
	


			<div class="search_bottom">
				
				
				<div class="search_options_box">
					<div id="project_lists", style="height:28px;margin-right:15em">	
					<%= link_to "Most Productive", search_users_path(:page=> "sort_by_project_count")%>
					<%= link_to "Largest Fanbase", search_users_path(:page=> "sort_by_followers")%>
					<%= link_to "Newly Joined", search_users_path(:page=> "sort_by_creation")%>
					</div>

				</div>
				
				
				<br />
		<div id="users_list"></div>
		<div id="invite_user"></div>
		<br />
		
			<div id="users_list"></div>
	    <%= render :partial => "user", :collection => @users_found %>
			<div id="invite_user"></div>
			
	</div>
	</div>