<table summary="Information about following/followers">
	<tr>
		<td class="main">
			<h1><%= @title %></h1>
			<% unless @users.empty? %>
				<ul class="users">
					<%= render @users %>
				</ul>
			<% end %>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
			<strong>Projects</strong> <%= @user.projects.count %>
			<strong> Users: </strong>
			<% unless @users.empty? %>
				<% @users.each do |user| %>
					<%= link_to user.profile.photo.url(:thumb), user %>
				<% end %>
			<% end %>
			<strong> Projects: </strong>
			<% unless @projects.empty? %>
				<% @projects.each do |project| %>
					<%= link_to project.photo.url(:thumb), project %>
				<% end %>
			<% end %> 
		</td>
	</tr>
</table>