<div class="project_sidebar">

	<% if current_project_user? %> 
	<div id="login_special", style="text-align:center">
			<%= link_to "Edit Project Info", edit_project_path, :remote => true%>
		</div>
	<% end%>
	
	<% if @users.count == 1 %>
		<%= render 'sidebar_triangles', :title => "Creator" %>
	<% else %>
		<%= render 'sidebar_triangles', :title => "Creators" %>
	<% end %>
	<div id="project_sidebar_section">
    <div id ="project_collaborators_list">
	    <%= render 'user_list', :users => @collaborators %>
    </div>
    <% if @users.count >4 %>
      <div id="all_members">
      </div>
      <div id="view_all_users">
        <%= link_to "View all #{@users.count} users", show_all_collaborators_project_path, 
        :remote => true %>
      </div>
    <% end %>
	<% if current_project_user? %>
		<%= form_tag edit_collaborators_project_path, :method => :get do%>
			<div class="submit">
				<%= submit_tag "Add Collaborator" %><br />
			</div>
		<% end %>  
	<% end%>
	<%= render 'follow_form' if (signed_in? && @project.followers.empty? && !(current_project_user? && (@users.count==1))) %>
	</div>
</div>
<% if @project.followers.any? %>
	<%= render 'sidebar_triangles', :title => "Followers" %>
	<div id="project_sidebar_section">
		<%= render 'user_list', :users => @project.followers %>
		<%= render 'follow_form' if (signed_in? && !(current_project_user? && (@users.count==1))) %>
	</div>
<% end %>
<% if @project.kind_list.any? %>
<%= render 'sidebar_triangles', :title => "Tags" %>	
	<div id="project_sidebar_section", style="border: 1px solid #DD515C">
	<% @project.kind_list.each do |t| %>
		<span id="project_sidebar_kind", style="margin-left:0.6em">
			<%= link_to t, search_projects_path(:search => t) %>
		</span>      
	<% end %>
	</div>
<% end %>

<% if (!@comments.count==0) || signed_in?%>
<%= render 'sidebar_triangles', :title => "Comments" %>

<div id="project_sidebar_section", style="border: 1px solid #DD515C">
<div id="users_list">
<% @comments.each do |c| %>
	<%= link_to c.user.name, c.user %> : <%= c.body %><br />
<% end %> 
	<% if signed_in? %>
		<div id ="comment_sumbit">
			<%= form_for(:comment, :url => create_comment_project_path) do |f| %>
				<div class="field">
					<%= f.label :comment %><br />
					<%= f.text_field :body , :size => 25%>
				</div>
				<div class="submit">
					<%= f.submit "Add Comment" %><br />
				</div>
			<% end %>
		</div>
	<% end %>
	</div>
	<% end %>

	<div style=" margin-top:15px; margin-left:7px; height:60px">
		<iframe src="http://www.facebook.com/plugins/like.php?href=<%= project_url(@project)%>&amp;layout=standard&amp;show_faces=true&amp;width=220&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:60px;" allowTransparency="true"></iframe>    
	</div>
</div>

