<div id="project_name_background">


	<% if @page_is_main && @project.mainfile.exists? %>
			<div class="standard-link1", style="float:right; margin-top:0.5em; font-size:1.2em">
				<%= link_to @project.mainfile_file_name, @project.mainfile.url %>
			</div>
		<% end %>



	<div id="project_name_header">
				

			<%= link_to @project.name, @project %>
			
			<div style="float:right; margin-right:1em; margin-bottom:0.2em">
				 <% @project.links.each do |thing| %>
				<div style="width:38px; float:right">
				  <% string = "/images/icons/style3/32/#{thing.provider.to_s}.png" %>
				  <% mudd = image_tag string, :width => "26px" %><%= link_to mudd, thing.link %>
				</div>
				<% end%>
			</div>
		
	</div>
	
	<% if @page_is_main %>

		<% if @project.photo.exists? %>
			<div id="project_picture", align="center">
				
				<%= image_tag @project.photo.url(:huge) %>
			</div>
		<% end %>
		
		<% if current_project_user? %> 
		<div id="login_special"style="margin-right:1em; text-align:right">
				<%= link_to "Edit Page Content", edit_main_page_project_path%>
			</div>
		<% end%>
		<div id="project_info">
				<p><%= raw((@project.description.nil? || @project.description.empty?) ? @project.abstract : @project.description) %></p>
		</div>
	<% else %>

		<% if current_project_user? %> 
			<div id="login_special"style="margin-right:1em; text-align:right">
				<%= link_to "Edit Page", edit_page_project_path(@project, :page => params[:page]) %> 
				| <%=link_to "Delete Page", delete_page_project_path(@project, :page => @page.title), :confirm => "Are you sure?", :method => :delete %>
			</div>
		<% end%>
		<%= render "projects/project_content" %>
	<% end %>
	<div>
			<%= render 'tell_me_more' unless current_project_user? %>
	</div>
</div>
