<div id="project_name_background">

<%= render 'projects/projects_header' %>

	<div id="project_name_header">
		
		<% if !@pages.any? %>
			<div style="text-align:center"><%= @project.name %></div></div>
		<% else %>
			<%= @project.name %></div>
		<% end %>
		
	</div>
	
	<% if @page_is_main %>
	
		<% if @project.photo.exists? %>
			<div id="project_picture", align="center">
				
				<%= image_tag @project.photo.url(:small) %>
			</div>
		<% end %>
		<% if current_project_user? %> 
			<div id="login_special">
				<h3><%= link_to "Edit Page", edit_project_path, :remote => true%></h3>
			</div>
		<% end%>
		<div id="project_info">
				<p><%= raw @project.description %></p>
		</div>
	<% else %>

		<% if current_project_user? %> 
			<div id="login_special">
				<h3><%= link_to "Edit Page", edit_page_project_path(@project, :page => params[:page]) %> | <%=link_to "Delete Page", delete_page_project_path(@project, :page => @page.title), :confirm => "Are you sure?", :method => :delete %></h3>
			</div>
		<% end%>
		<%= render "projects/project_content" %>
	<% end %>
</div>
