<div class="project_sidebar">    

   <div id="creators"> 
    
     <div class="sidebar_header" id="project_sidebar_header" ><%=@users.count == 1 ? "Creator" : "Creator".pluralize %></div>

     <%if @users.any? %>  
     	<div id="users_list">
     <% @users.each do |u| %>
       <div class="user" >
         <div class="user_pic"><% logo = image_tag u.profile.photo.url(:thumb)%> <%= link_to logo, u, :class => "left"  %></div>    
         <div class="user_name"> <%= link_to u.name, u %> </div> 
		 <div class="user_info">
       		<% @profile = u.profile%>
			<%= @profile.department %>
			<%= @profile.occupation %>
			<%= @profile.year %>
		 </div>
       </div>
     <% end%>
	</div>
   <% end %> 
   <% if current_project_user? %>
     <div id="add_collaborator"><%= link_to "(Edit Collaborators)", edit_collaborators_project_path %>
     </div>  
   <% end%>
   </div>
 </div>

<div class="sidebar_section prepend-top">
	<div class="sidebar_header" id="project_sidebar_header">Tags</div>

    <div id="project_tags_list">
    <% @project.kind_list.each do |t| %>
        <div id="project_kind">
        <%= t %>
        </div>    
    <% end %>
    </div>
 </div>


 <div class="sidebar_section prepend-top">
	
     <div id ="chat">
     <div class="sidebar_header" id="project_sidebar_header">Comments</div>

    <div id="users_list"> 
	<% @comments.each do |c| %>
     <%= link_to c.user.name, c.user %> : <%= c.body %><br />
     <% end %>
     <% if signed_in? %>
     <div id ="comment_sumbit">
       <%= form_for(:comment, :url => create_comment_project_path) do |f| %>
	      <div class="field">
		      <%= f.label :comment %><br />
		      <%= f.text_field :body , :size => 20%>
	      </div>
      	<div class="submit">
		      <%= f.submit "Add Comment" %><br />
		  </div>
	      </div>
       <% end %>
    <% end%>
     </div>
     </div>


 </div>
