<% javascript_include_tag "mulitselector" %>

<%= render 'project_pages' %>

<% if current_project_user? %> 
<div id="login_special", style="text-align:center">
	<%= link_to "Edit Project Info", edit_project_path %>
</div>
<% end%>

<div style="float:left">
	<% @project.links.each do |thing| %>
	<% string = "/images/icons/used-icons/#{thing.provider.to_s}.png" %>

	<div class="span-5 last" style="margin-left:0.6em">
		<div style="width:29px; height:25px; float:left">
			<% if ((thing.provider != "none"))%>
			<% mudd = image_tag string, :width => "20px", :style => "margin:0.2em 0.2em 0 0"%><%= link_to mudd, thing.link %>
			<%end%>
		</div>
		<div class="span-4 last" style="margin-top:3px;text-decoration: underline; font-size:1.1em">
			<%= link_to (truncate(URI.parse(thing.link).host, :length=>25)), thing.link %>
		</div>
	</div>

	<% end %>
</div>

<% if !@similar_projects.empty? %>
<div style="width:180px; margin-left:1.1em">		
	<div style="font-size:1.2em; float:left; line-height:1em; margin-bottom:0.3em; color:#333;  margin-top:0.5em">
		Similar Projects
	</div>
	<hr style="background:#666; width:166px; margin-bottom:0.5em; height:2px">

	<% @similar_projects.each do |project| %>
	<% if project.photo.exists?%>
	<div id="user_projects_photo" style="float:left; margin-right:0.2em"><% logo = image_tag project.photo.url(:teeny) %><%= link_to logo, project %></div>
	<% end %>
	<% end %>
</div>
<% end %>






