<% if current_project_user? %>
  <% content_for :head do %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/fonts/fonts-min.css" /> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.2r1/build/editor/assets/skins/sam/simpleeditor.css" /> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/element/element-min.js"></script> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/container/container_core-min.js"></script> 
    <script type="text/javascript" src="http://yui.yahooapis.com/2.8.2r1/build/editor/simpleeditor-min.js"></script> 
  <% end %>
<% end %>
<div id="project_name_background">

<%= render 'projects/projects_header' %>

	<div id="project_name_header">
		
		<% if !@pages.any? %>
			<div style="text-align:center"><%= @project.name %></div></div>
		<% else %>
			<%= @project.name %></div>
		<% end %>
		
	</div>
	
	<% if @page_is_main %>
	
		<% if @project.photo.exists? %>
			<div id="project_picture", align="center">
				
				<%= image_tag @project.photo.url(:small) %>
			</div>
		<% end %>
		<% if current_project_user? %> 
			<div id="login_special">
				<h3><%= link_to "Edit Page", edit_project_path, :remote => true%></h3>
			</div>
		<% end%>
		<div id="project_info">
				<p><%= raw @project.description %></p>
		</div>
	<% else %>

		<% if current_project_user? %> 
			<div id="login_special">
				<h3><%= link_to "Edit Page", edit_page_project_path(@project, :page => params[:page]) %> | <%=link_to "Delete Page", delete_page_project_path(@project, :page => @page.title), :confirm => "Are you sure?", :method => :delete %></h3>
			</div>
		<% end%>
		<%= render "projects/project_content" %>
	<% end %>
</div>
