
<% if @pages.any?%>
<div id="project_buttons_center">
		
		<% @pages.each do |page| %>
		<div id="project_buttons" <%= "id = 'current_project_button'" if page.title == params[:page] %>>
			<%= link_to page.title.titleize, project_path(@project, :page => page.title) %>
		</div>
		<% end %>
	
		<div id="project_buttons" <%= "id = 'current_project_button'" if @page_is_main %>>	
			<%= link_to "Home", @project %>
		</div>
		
	<% if current_project_user? %>
		<div id="project_buttons">
			<b><%= link_to "New Page", newpage_project_path %></b>
		</div>
	<% end %>

	</div>
<% else %>
	<% if current_project_user? %>
		<div class="project_buttons"
				<b> <%= link_to l.title.titleize, project_path(@project, :page => l.title) %></b>
		</div>
	<% end %>

<% end %>

