<div id="know_more">
    <h4><a href="#">contact</a></h4>
</div>

<div id="know_more_form" title="Contact the creators of <%= @project.name %>">
    <%= form_tag know_more_project_likes_path(@project), :method => :post, :remote => true do %>
        <p>
        Ask the team for more info about<%= @project.name %> <br />
        </p>
        <div class="field">
            <%= label :extra_comments, "Add any extra comments:" %><br />
            <%= text_area(:know_more, :extra) %>
        </div>

        <div class="submit">
            <%= submit_tag "Contact about #{@project.name}!" %><br />
        </div>
    <% end %>
</div>
