<div class="container" style="padding-top:20px; padding-bottom:20px; min-height: 550px; clear:none">
	<%= form_for @project, :html => { :multipart => true } do |f| %>
		<div id="project_background" class="span-18">
			<%= render 'projects/projects_edit_header', :f => f %>
			<div class="home_register span-17" style="float:left; margin-left: 0em">
				<div class="span-18">
					<br />
					<h1>Edit Project</h1>
					<%= render	'shared/error_messages', :object => f.object %>
					<table>
						<tr>
							<td>
								<div class="field">
									<%= f.label :name %><br />
									<div id="project_edit_name"><%= f.text_field :name %></div>
								</div>
							</td>
							<td>
								<div class="field">
									<%= f.label :tags %><br />
									<%= f.text_field :kind_list %>
								</div>
							</td>
						</tr>
					</table>
					<div class="field">
						<%= f.label :project_photo %><br />
						<%= f.file_field :photo %>
					</div>
					<div class="field">
						<%= f.label "File to Upload" %><br />
						<%= f.file_field :mainfile %>
					</div>
					<div class="field">
						<%= f.label :description %><br />
						<%= f.text_area :description %>
					</div>
					<div class="field">
						<%= f.label :Abstract %><br />
						<%= f.text_area :abstract %>
					</div>
					<div class="submit">
						<%= f.submit "Edit Project" %><br />
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<div id="project_sidebar" class="span-5 last">
		<%= render 'projects/projects_sidebar' %>
	</div>
</div>