<% if current_project_user? %>
<% content_for :head do %>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<% end %>
<% end %>
<div class="container" style="padding-top:20px; padding-bottom:20px; min-height: 550px">

	<div class="home_register span-18" style="float:center; margin-left: 10em">

		<h1>Edit Project</h1>
		<div class="project_edit">
			<%= form_for @project, :html => { :multipart => true } do |f| %>
			<%= render	'shared/error_messages', :object => f.object %>
			<div class="field">
				<%= f.label :name %><br />
				<div id="project_edit_name"><%= f.text_field :name %></div>
			</div>
			<div class="field">
				<%= f.label :tags %><br />
				<%= f.text_field :kind_list %>
			</div>
			<div class="field">
				<%= f.label :Abstract %><br />
				<%= f.text_area :abstract %>
			</div>
			<div class="field">
				<%= f.label :description %><br />
                <%= f.text_area :description, :class => "mceEditor" %>
			</div>
			<div class="field">
				<%= f.label :project_photo %><br />
				<%= f.file_field :photo %>
			</div>
			<div class="submit">
				<%= f.submit "Save Project" %><br />
			</div>
			<% end %>
		</div>
	</div>
</div>
