<% content_for :head do %>
<%= render 'projects/yui_dependencies' %> <%= stylesheet_link_tag 'project' %> <%= stylesheet_link_tag 'user-list/user-regular' %>
<% end %>


<%= form_for(@project) do |f| %>

<% if !signed_in? %>
<p> Create an account </p>
<% end %>


<div class="container" id="general-positioning">		
	<table cellspaceing="0" id="project-main-background-outer">
		<tbody>			
			<tr>	
				<td class="span-5 last" id="project-sidebar-outer-position">
				</td>			
				<td class="span-19 last" id="project-main-background-position"> 
						<div class="container yui-skin-sam span-19 last" id="project-main-background-inner">

							<div class="span-13" >  
								<%= render 'shared/error_messages', :object => f.object %>

								<div class="field" >					
									<%= f.text_field :name, :id=>"project_header_name", :style=>"width:500px",:placeholder => "Project Name" %></div>


								<div id="project-edit-include_collaboratars" >
									<%= f.label :collaborators %><br />
									<%= f.text_field :collaborator_tokens %>
									<%= text_field_tag 'add_by_email','',:placeholder => "...or add by email(comma separated)", :id=>"project-edit-collaborators-field" %>
								</div>

								<%= hidden_field_tag 'cids' %>
							</div>
							
							<div class="span-6 last" id="added_collaborators" style="float:right">
							</div>
							
							<hr class="separation-line">
							<div class="span-19 last" id="project_new_right">
								<div class="span-5">
								<div class="field project-edit-form-placement">			
									<%= f.label "Abstract (300 Characters Max)" %><br />		
									<%= f.text_field :abstract, :id=>"project-edit-abstract-field" %>
								</div>
								</div>
								<div class="span-5">
								
								<div class="field project-edit-form-placement">
									<%= f.label "Tags (Separate with Commas)" %><br />
									<%= f.text_field :kind_list, :value => @tag_string, :id=>"project-edit-tags-field" %></br>
								</div>
								</div>
								<div class="span-5">
								
								<div class="field project-edit-form-placement">
									<%= f.label :add_project_picture %>
									<%= f.file_field :photo %>
								</div>
								</div>
								<hr class="separation-line">
								
								<div class="field">
									<%= f.text_area :description, :rows=>5, :cols=>40 %>
								</div>

								<hr class="separation-line">


								<div class="submit">
									<%= f.submit "Create Project" %><br />
								</div>
							</div>

							<%= render 'projects/yui_script', :editor => "project_description" %>
						</div>
						<%= javascript_tag do %>
						$(function() {
						  $("#project_collaborator_tokens").tokenInput("/users.json", {
						    crossDomain: false,
							theme: "facebook"
						  });
						});
						<% end %>			
			</tr>			
		</tbody>
	</div>
</table>
</div>

<% end %>


