<%= form_for(:page, :url => create_page_project_path) do |f| %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title%>
	</div>
	<div class="field">
		<%= f.label :content %><br />
		<%= f.text_area :content%>
	</div>
	<div class="submit">
		<%= f.submit "Add Page" %><br />
	</div>
<% end %>