<div>
<%= form_for(:q, :url => search_path, 
             :html    => {:method => :get}) do |f| %>
<div class="field">
<%= f.label :search %>
<%= f.text_field :search %>
</div>
<div class="submit">
<%= f.submit "Search" %>
</div>
<% end %>

<div id="search_display">
<%if !@projects.empty? %>
<% @projects.each do |p| %>
<%= link_to p.name, p %>
<% end %>
<% end %>
</div>
</div>
