  <div id="project" class="span-18">
    <div id="project_name"><%=@project.name %></div>
    <% if current_project_user? %> 
      <div id="login_special" ><h3><%= link_to "Edit Project", edit_project_path%> |
      <%= link_to "Delete Project", @project , :confirm => "Are you sure?", 
      :method => :delete %></h3></div>  
    <% end%>
   
  
    <% @project.kind_list.each do |t| %>
        <div id="project_kind">
        <%= t %>
        </div>    
    <% end %>
    <br />
    <div id="project_picture", align="center">
	<% if @project.photo.exists? %>
	<%= image_tag @project.photo.url(:small) %>
	<% end %>
	</div>    
    <div id="project_description" class="prepend-top">
    <p><%= raw @project.description %></p>
    </div>
  </div>
 <div id="sidebar" class="span-6 last">
  <%= render 'projects/projects_sidebar' %>
 </div>

