
<div id="project_background" class="span-18">


  <%= render 'projects/projects_header' %>

<div class="span-18">
    <% if current_project_user? %> 
      <div id="login_special" ><h3><%= link_to "Edit Project", edit_project_path%> |
      <%= link_to "Delete Project", @project , :confirm => "Are you sure?", 
      :method => :delete %></h3></div>  
    <% end%>
 

    <div id="project_picture", align="center">
	<% if @project.photo.exists? %>
	<%= image_tag @project.photo.url(:small) %>
	<% end %>
	</div>    


	<div id="project_info">
	   <%= render "projects/project_first" %>
	</div>
</div>

</div>


<div id="project_sidebar" class="span-5 last">

  <%= render 'projects/projects_sidebar' %>


</div>
