  <div id="project" class="span-16 colborder">
    <div id="project_name"><%=@project.name %></div>
    <% if current_project_user? %>
      <div><h3>(<%= link_to "Edit Project", edit_project_path%> |
      <%= link_to "Delete Project", @project , :confirm => "Are you sure?", 
      :method => :delete %>)</h3></div>    
    <% end%>
   
    <div id="project_kind"><%=@project.kind %></div><br />
    <div class="project_picture"><%= image_tag @project.photo.url(:small) %></div>    
    <div id="project_description">
    <p><%=@project.description %></p>
    </div>
  </div>
 <div id="sidebar" class="span-7 last">
  <%= render 'projects/projects_sidebar' %>
 </div>

