<%= stylesheet_link_tag 'user-list/user-regular' %>
<%= stylesheet_link_tag 'project-list/project-regular' %>

<%= render 'shared/open_graph' %>
<div class="container" style="min-height: 550px; clear:none">		
		
		<div id="project_background" class="span-24">	
			<table cellspaceing="0" style="margin-bottom:2em">
				<%= render 'projects/projects_header' %></td>
				
				<tbody>
					<tr>

						<td id="project_sidebar">
						<%= render 'projects/projects_sidebar' %></td>
						
						<td id="project_main_background"> <%= render 'projects/project_main' %></td>
						
					</tr>
					
				</tbody>
			</table>
		</div>
		
</div>

