<div class="container" style="padding-top:13px; padding-bottom:20px; min-height: 550px; clear:none">		

		<div id="project_name_background">
					<div id="project_name_header"><%= link_to @project.name, @project %></div>
		</div>
		<%= render 'projects/projects_header' %>
		<div id="project_delete" style="font-size:0.5em; text-align:right; padding: 0.1em 0.3em 0.1em 0.3em"><%= (link_to "Edit Project Info", edit_project_path) if current_project_user? %></div>
		
		<div id="project_background" class="span-24">	
			<table cellspaceing="0" style="margin:0">
				<tbody>
					<tr>
						<td id="project_main_background"> <%= render 'projects/project_main' %></td>

						<td id="project_sidebar">
						<%= render 'projects/projects_sidebar' %></td>
					</tr>
				</tbody>
			</table>
		</div>
		
</div>

