<h1>
  <%=@project.name %>
</h1>
<% if current_project_user? %>
<h3>  <%= link_to "Edit Project", edit_project_path%> </h3>
<h3>  <%= link_to "Delete Project", @project , :confirm => "Are you sure?", 
:method => :delete %> </h3>
<h3>  <%= link_to "Add a Collaborator", edit_project_path %> </h3>
<% end%>
  <div id="project">
    <%if @users.any? %>
      <%= pluralize(@users.count, "Collaborator") %>:
      <% @users.each do |u| %>
        <%= link_to u.name, u %> <br />
      <% end%>
    <% end %> 
    Type:    <%=@project.kind %><br />
    Description: <%=@project.description %> <br />
  </div>