<div class="container" style="padding-top:20px; padding-bottom:20px; min-height: 550px; clear:none">

<div id="project_background" class="span-18">

  <%= render 'projects/projects_header' %>
<div class="span-18">
	
		
			<% if (@page_content == @project.description) %> 
		    <% if @project.photo.exists? %>
		    <div id="project_picture", align="center">
			<%= image_tag @project.photo.url(:small) %>
			</div>
			<% end %>

			<% if current_project_user? %> 
		      <div id="login_special" ><h3><%= link_to "Edit Project", edit_project_path%> |
		      <%= link_to "Delete Project", @project , :confirm => "Are you sure?", 
		      :method => :delete %> </div>
		  
				<% end %>

			   <%= render "projects/project_content" %>

			<% else %>	
			<% if current_project_user? %> 
		    <div id="login_special" ><h3><%= link_to "Edit Page", edit_page_project_path(@project, :page => params[:page]) %> 
			</div>
			<% end %>

		   <%= render "projects/project_content" %>

		<% end %>


		
		
		
</div>

</div>


<div id="project_sidebar" class="span-5 last">

  <%= render 'projects/projects_sidebar' %>


</div>
</div>
