<% content_for :head do %>
<%= stylesheet_link_tag 'user-list/user-regular' %>
<%= stylesheet_link_tag 'project' %>

<script>
	$(document).ready(function() {

		$("#know_more_form").dialog({
			height: 250,
			width: 500,
			modal: true,
			autoOpen: false
		});

		$("#know_more").click(function() {
			$("#know_more_form").dialog("open");
			return false;
		});

	});
</script>
<% end %>


<%= render 'shared/open_graph' %>
<div class="container" id="general-positioning">		

	<table cellspaceing="0" id="project-main-background-outer">

		<tbody>			
			<tr>				
				<td class="span-5 last" id="project-sidebar-outer-position">
					<%= render 'projects/ShowProject/projects_sidebar' %>
				</td>
				<td class="span-19 last" id="project-main-background-position"> <div id="project-main-background-inner"> <%= render 'projects/ShowProject/project_main' %></div></td> 
						
			</tr>			
		</tbody>
	</div>
</table>
</div>

