<% content_for :head do %>
<%= stylesheet_link_tag 'user-list/user-regular' %>
<%= stylesheet_link_tag 'project' %>
<script>
	$(document).ready(function() {

		$("#know_more_form").dialog({
			height: 500,
			width: 500,
			modal: true,
			autoOpen: false
		});

		$("#know_more").click(function() {
			$("#know_more_form").dialog("open");
			return false;
		});

	});
</script>
<% end %>


<%= render 'shared/open_graph' %>
<div class="container" style="min-height: 550px; clear:none">		


	<div class="span-18" ><%= render 'projects/projects_header' if nil %></div>

	<div id="project_main_background2",  style="margin-bottom:2em", class="span-24">	
		<table cellspaceing="0", style="margin-bottom:0.2em">
		
		<tbody>			
			<tr>				
				<td class="span-18 last" style="padding:2px"> <%= render 'projects/project_main' %></td>
				<td class="span-5 last" style="vertical-align: top">
						<%= render 'projects/projects_sidebar' %>
				</td>				
			</tr>			
		</tbody>
		</div>
	</table>
</div>

