<% content_for :head do %>
<%= stylesheet_link_tag 'user-list/user-regular' %>
<%= stylesheet_link_tag 'project' %>
<script>
	$(document).ready(function() {

		$("#know_more_form").dialog({
			height: 250,
			width: 500,
			modal: true,
			autoOpen: false
		});

		$("#know_more").click(function() {
			$("#know_more_form").dialog("open");
			return false;
		});

	});
</script>
<% end %>


<%= render 'shared/open_graph' %>
<div class="container" style="min-height: 550px; clear:none">		

	<table cellspaceing="0" style="margin-bottom:1em" id="project_main_background2">

		<tbody>			
			<tr>				
				<td class="span-19 last" style="padding:2px; vertical-align: top"> <div id="project-main-background"> <%= render 'projects/project_main' %></div></td> 
				<td class="span-5 last" style="vertical-align: top; padding:2px 2px 0 0">
					<%= render 'projects/projects_sidebar' %>
				</td>				
			</tr>			
		</tbody>
	</div>
</table>
</div>

