<div id="user_background" class="span-24">

  <%= render 'projects/projects_header' %>



<div class="span-19">
    <% if current_project_user? %> 
      <div id="login_special" ><h3><%= link_to "Edit Project", edit_project_path%> |
      <%= link_to "Delete Project", @project , :confirm => "Are you sure?", 
      :method => :delete %></h3></div>  
    <% end%>
   
  

    <div id="project_picture", align="center">
	<% if @project.photo.exists? %>
	<%= image_tag @project.photo.url(:small) %>
	<% end %>
	</div>    
    <div id="project_description" class="prepend-top">
    <p><%= raw @project.description %></p>
    </div>

  </div>


<div id="profile_div" class="span-5 last">

  <%= render 'projects/projects_sidebar' %>


</div>

 </div>