<%if users.any? %>  
	<div id="home-users-list" style="float:right">
		<% users.each do |u| %>
			<div class="home-user" >
				<div class="home-user-pic"><% logo = image_tag u.profile.photo.url(:teeny)%> <%= link_to logo, u, :class => "left"  %></div>    
				<div class="home-user-name"><%= link_to u.name, u %></div>
				<div class="home-user-info">
					<% @profile = u.profile %><%= @profile.department %> <%= @profile.occupation %> <%= @profile.year %><br />
				</div>
			</div>
		<% end%>
	</div>
<% end %> 

