<div id="project_delete" style="font-size:0.5em; text-align:right; padding: 0.1em 0.3em 0.1em 0.3em"><%= (link_to "Edit Project Info", edit_project_path) if current_project_user? %></div>




<% if @pages.any?%>
<div id="project_tabs_background">
		<% @pages.each do |page| %>
			<div class="project_tabs" <%= "id = 'current'" if page.title == params[:page] %>>
				<%= link_to page.title.titleize, project_path(@project, :page => page.title) %>
			</div>
		<% end %>
		<% if current_project_user? %>
			<div class="project_tabs" style="background-color:#F06F00">
				<b><%= link_to "New Page", newpage_project_path %></b>
			</div>
		<% end %>
</div>
<% else %>
	<% if current_project_user? %>
		<div id="project_tabs_background">
			<div class="project_tabs" style="background-color:#F06F00">
				<b><%= link_to "New Page", newpage_project_path %></b>
			</div>
		</div>
	<% end %>
<% end %>






<% if @pages.any?%>
<div id="project_name_sidebar">
<%= link_to @project.name, @project %>
</div>
<% end %>



<% if @pages.any?%>
<div class="span-14-last", style="margin-right:1em; min-height:20px">
		
		<% @pages.each do |page| %>
		<div class="header_tabs" <%= "id = 'current_tab'" if page.title == params[:page] %>>
			<%= link_to page.title.titleize, project_path(@project, :page => page.title) %>
		</div>
		<% end %>
	
		<div class="header_tabs" <%= "id = 'current_tab'" if @page_is_main %>>	
			<%= link_to "Home", @project %>
		</div>
		
	<% if current_project_user? %>
		<div class="header_tabs">
			<b><%= link_to "New Page", newpage_project_path %></b>
		</div>
	<% end %>


<% else %>
	<% if current_project_user? %>
		<div class="header_tabs"
				<b> <%= link_to l.title.titleize, project_path(@project, :page => l.title) %></b>
			</div>
		</div>
	<% end %>
	
<% end %>
