<div class="span-6 last" id="stage-sidebar-outer-position">
    <div id="stage-sidebar-inner-position">

        <% if signed_in? %>
        <div class="span-6 stage-sidebar">
            <%=form_tag groups_path :method => 'get' do %>
            	    <div class="submit", id="stage-search-button-position">
	                <%= submit_tag "Search", :id => "stage-search-button-style" %>
	            </div>
	            <div class="field" id="stage-search-bar-position">
	                <%= text_field_tag :search, params[:search],:id => "stage-search-bar-style" %> 
	            </div>
            <% end %>
            <div class="span-6 stage-main-links">
                See All: 
                <%= link_to "People", group_path(:type => "people", :group => @group) %>
                <%= link_to "Projects", group_path(:type => "projects", :group => @group) %>
            </div>
            <div class="span-6 stage-tag-links">
                <% link_generator(@projects.all,0,30) %>
                <% @links.each do |u| %>
                <div class="stage-popular-tags">
                    <%="[ #{u[1]} ] "%><%= link_to u[0], group_path(:search => u[0], :size => @size, :group => @group) %> 
                </div>
                <%end%>
            </div>
        </div>
    </div>
    <% else %>
    <div class="span-6 stage-sidebar-social">
        <%= render 'pages/home/main_details' %>
    </div>
    <% end %>
</div>
</div>
