<div class="span-6 last" id="stage-sidebar-outer-position">
    <div id="stage-sidebar-inner-position">
		<%= image_tag @group.banner.url(:banner), :style=>"width:220px" %>
		<h4><%= @group.description %></h4>

        <div class="span-6 stage-sidebar">
            <%=form_tag group_path(@group), :method => 'get' do %>
            	    <div class="submit", id="stage-search-button-position">
	                <%= submit_tag "Search", :id => "stage-search-button-style" %>
	            </div>
	            <div class="field" id="stage-search-bar-position">
	                <%= text_field_tag :search, params[:search],:id => "stage-search-bar-style" %> 
	            </div>
            <% end %>
            <div class="span-6 stage-tag-links">
                <% link_generator(@projects.all,0,30) %>
                <% @links.each do |u| %>
                <div class="stage-popular-tags">
                    <%="[ #{u[1]} ] "%><%= link_to u[0], group_path(:search => u[0], :size => @size, :group => @group) %> 
                </div>
                <%end%>
            </div>
        </div>

    </div>
</div>
</div>
