<div id='header'>
	<div class="container">
		<div class="span-3">
			<div id="header_title">
					<%=link_to "Holono", root_url%>
			</div>
		</div>
		<div class="span-21 last", style="margin-top:3px">
			<div id="header_menu", style="float:right">
			<%= link_to "Browse", search_projects_path %> | 
			<% if signed_in? %>
				<% if admin_user? %>
					<%= link_to "Admin", admin_email_path %> |
				<% end %>
				<%=link_to "My Profile", user_path(current_user) %> | <%= link_to "My Feed", user_path(current_user, :page => "feed") %> | <%= link_to "Settings", edit_user_path(current_user)  %> | <%= link_to "Log Out", logout_path %>
			<% else %>
				<%= link_to "Sign In", login_path %> | <%= link_to "Sign Up", signup_path %>
			<% end %>
			</div>
			<div id="random_project" style="float:right" >
			<%= link_to "Random", random_projects_path %> 
			</div>	
		</div>
	</div>
</div>
