<div id='header'>
	<div class="container">
		<div class="span-8">
			<div id="header_title">
				<% if signed_in? %>
					<%= link_to "Holono", random_projects_path  %>
				<% else %>
					<%=link_to "Holono", root_url%>
				<% end %>
			</div>
		</div>
		
		
		
		<div class="span-16 last", style="margin-top:3px">

			<div id="header_menu", style="float:right">
			<%= link_to "Search", search_projects_path %> | 
			<% if signed_in? %>
				<% if admin_user? %>
					<%= link_to "Admin", admin_email_path %> |
				<% end %>
				<%=link_to "My Profile", user_path(current_user) %> | <%= link_to "Settings", edit_user_path(current_user)  %> | <%= link_to "Log Out", logout_path %>
			<% else %>
				<%= link_to "Sign In", login_path %> | <%= link_to "Sign Up", signup_path %>
			<% end %>
			</div>
			
		</div>
	</div>
</div>
