<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
<style type="text/css">
.sidebar_header {
 background-color:#333;
 color: #FFF;
 font-size: 1.5em;
 padding-left: 0.5em;
 }

.user{
  font-size: 1.5em; 
  height: 80px;
  padding-top: 0.5em;
}

a{
	color: #700;
}
#project_summary td{
  background: inherit; 
}

#project_kind{
 	border: 3px solid #A00;
	width: 6em;
	text-align:center;
	margin-right:auto;
	background-color:#333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	color: #FFF;
}

#project_name{
  font-size: 3.5em;
}

#header{
   background-color: #333;
   color: #ffffff;
   font-size: 1em;
   margin-bottom: 1em;
   font-weight: bold;
}

#header a{
   color: #ffffff;
   font-weight: bold;
}

#footer{
   allign: center;

   background-color: #fff;
   color: #000000;
   font-size: 0.8em;   
	margin-top: 3em;
   margin-bottom: 3em;
   font-weight: bold;
}

#footer a{
   color: inherit;
}
#header_menu{
   text-align:right;
}
</style>
</head>
<body>
   <%= render 'layouts/header' %>

<div class="container">
<section class ="round">
	<% flash.each do |key, value| %>
		<div class = "flash <%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</section>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development?%>
</body>
</html>
