<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
<style type="text/css">
body{
  background: url("/images/bg-noise.png") repeat scroll 0 0 #777777;  
}

.home_register {
  float: left;
  margin: 0 0 0 1em;
  background: url("/images/bg-gradient-large.png") repeat-x scroll 0 -1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  padding: 1em 1em 0.5em 1em;
}

.sidebar_header {
 background-color:#333;
 color: #FFF;
 border-radius: 0.5em 0.5em 0em 0em;
 font-size: 1.5em;
 padding-left: 0.5em;
 }

#users_list {
    background: url("/images/bg-gradient-large.png") repeat-x scroll 0 -1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0em 0em 0.5em 0.5em;
    padding: 0.8em 1em 0.5em 0.5em;
}
.user{
  font-size: 1.2em; 
  height: 60px;
  padding-bottom: 0.5em;
}

.user_name{
	text-indent: 0.3em;
}
a {
  color: #333;
  text-decoration: none;
}

#header a{   
	font-weight: bold;
}
#project_summary td{
  background: inherit; 
}

#login_special{
	color: #775;   
	 background-color:rgba(255, 255, 160, 0.5);
	font-size: 1.3em;	
	margin-top: 1em;
   margin-bottom: 0em;
 	border: 2px solid #D8A800;
	text-align:center;
}

#login_special a{
	color: #000;   
	text-align:center;	

}


 #user_projects {
    background: url("/images/bg-gradient-large.png") repeat-x scroll 0 -1px rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 2em;
    padding: 1em 0em 1em 0em;
}

#user_sidebar_pages{
    margin: 0 0 0 2em;
}

#project_description {
    background: url("/images/bg-gradient-large.png") repeat-x scroll 0 -1px rgba(255, 255, 255, 0.6);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    margin-bottom: 2em;
    padding: 1em 1em 0.5em 1em;
}

#project_picture img{
  border: 2px solid #333;    
border-radius: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 5px 5px 5px #000;

}

#profile_div h1{
	color:#fff;
}

#project_kind{
 	border: 2px solid #9C8273;
	width: 6em;
	text-align:center;
	margin-right:auto;
	background-color:#bbb;
	border-radius: 3px;
	 font-size: 1em;
	-moz-border-radius: 2px;
	color: #300;

}

#project_header{
	text-align:center;
	 font-size: 1.2em;
	font-color:#000;
   	color: #ffffff;
}

#project_header li.current a{
    background: url("/images/bg-gradient.png") repeat-x scroll 0 -1px rgba(255, 255, 255, 0.5);
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0);
    font-weight: bold;
    padding: 0.714em 2em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

#project_header ul{
	 margin: 0 0 3.5em 0;
   list-style: none outside;
}

#project_header li{
	 float: left;
   margin: 0 1em 0 0;
   
}


#project_name {
		color: #eee;
  font-size: 3.5em;

}

#project_name_div{
  font-size: 1.2em;
}

#projects tbody tr:nth-child(even) td, tbody tr.even td {background:rgba(255, 255, 255, 0.2)}

#project_name_div a{
  font-size: 1.3em;
  font-weight: bold;
}

#project_description_div{

	font-size: 1em;
	line-height: 1em;
	padding-bottom: 0.5em;
}

#maker_name{
  font-size: 0.8em;
	margin-right: 2em;
}

#header{
   background-color: #333;
   color: #ffffff;
   font-size: 1em;
   margin-bottom: 1em;
   font-weight: bold;
}

#header{
  margin:0 0 2em 0;
}

#header a{
   color: #ffffff;
   font-weight: bold;
}

#footer{
   align: center;
   color: #000000;
   font-size: 0.8em;   
	 margin-top: 3em;
   margin-bottom: 3em;
   font-weight: bold;
}

#footer a{
   color: inherit;
}
#header_menu{
   text-align:right;

}

#add_collaborator{
  text-align: right;
}

#projects {
  float: left;
}

#projects img{
	border:2px;
}
</style>
</head>
<body>
   <%= render 'layouts/header' %>

<div class="container">
<section class ="round">
	<% flash.each do |key, value| %>
		<div class = "flash <%= key %>"><%= value %></div>
	<% end %>
</section>
	<%= yield %>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development?%>
</body>
</html>
