<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<style type="text/css">
.sidebar_header {
 background-color:#333;
 color: #FFF;
 font-size: 1.5em;
 padding-left: 0.5em;
 }

.user{
  font-size: 1.5em; 
  height: 80px;
  padding-top: 0.5em;
}

#project_summary td{
  background: inherit; 
}

#project_kind{
 	border: 3px solid #A00;
	width: 6em;
	text-align:center;
	margin-right:auto;
	background-color:#333;
	border-radius: 6px;
	-moz-border-radius: 6px;
	color: #FFF;
}

#project_name{
  font-size: 4em;
}

#header_text{
   background-color: #333;
   color: #ffffff;
   font-size: 1.5em;
   padding-right: 0.6em;
   margin-bottom: 1em;
}

#header_text a{
   color: #ffffff;
}
</style>
</head>
<body>

<div class="container">
	<div id="header_text">
  <div id="home" style="float: left; padding-left:0.5em;"><%=link_to "Home", root_url%></div>
  <div align="right">	
  <% if signed_in? %>
			<%= link_to "Log Out", logout_path %> | <%=link_to "Profile", user_path(current_user) %> |
 <%= link_to "Add a Project", new_project_path %>
	<% else %>
			<%= link_to "Log In", login_path %> | <%= link_to "Register", new_user_path %>	
	<% end %>	
</div>
 </div>
<section class ="round">
	<% flash.each do |key, value| %>
		<div class = "flash <%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</section>
</div>
<%#= debug(params) if Rails.env.development? %>
</body>
</html>
