<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
<style type="text/css">
body{
  
  background:#ECE1D2;
	
}

.home_register {
  float: left;
  margin: 0 0 0 1em;
  background: url("/images/bg-gradient-large.png") repeat-x scroll 0 -1px #B0BCF9;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  padding: 1em 1em 0.5em 1em;
}

.sidebar_header {
 background-color:#5988CB;
 color: #FFF;
 border-radius: 0.5em 0.5em 0em 0em;
 font-size: 1.5em;
 padding-left: 0.5em;
 }

.container #header_title a{
	color: #E46900 ;
}


#home h1{
 color: #FFF;
	font-size: 4em;
}

#home h2{
 color: #eee;
	font-size: 3em;	
}

#users_list {
	background-color: #e5ecf9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0em 0em 0.5em 0.5em;
    padding: 0.8em 1em 0.5em 0.5em;
}
.user{
  font-size: 1.2em; 
  height: 60px;
  padding-bottom: 0.5em;
}

.user_name{
	text-indent: 0.3em;
}
a {
  color: #333;
  text-decoration: none;
}

#header a{   
	font-weight: bold;
}
#project_summary td{
  background: inherit; 
}

#login_special{
	color: #775;   
	 background-color:rgba(255, 230, 150, 0.5);
	font-size: 1.3em;	
	margin-top: 1em;
   margin-bottom: 0em;
 	border: 3px solid #F1A66B;
	text-align:center;
}

#login_special a{
	color: #000;   
	text-align:center;	

}


 #user_projects {
    
    margin: 0em 0.5em 0.5em -0.5em;
    padding: 0.5em 0em 0em 0em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	
}

#user_sidebar_pages{
    margin: 0em 0 0 0em; 

}

#project_description {
	background-color:  #e5ecf9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    margin-bottom: 2em;
    padding: 1em 1em 0.5em 1em;
}

#project_picture img{
  border: 2px solid #333;    
border-radius: 0.2em 0.2em 0.2em 0.2em;
  box-shadow: 5px 5px 5px #000;

}

#user_background{
	background: #fff;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 2px 5px 2px#888;
	box-shadow: 0 0 5px 5px #888;
	border: 1px solid #000;
}

#user_header{
	background: url("/images/bg-gradient-small.png") repeat-x scroll 0 -1px #111;
    /*
	background: #D83218;
	*/
	padding: 0.5em 0em 0em 0em;
	border-radius: 0.5em 0.5em 0em 0em;
	
}

#user_header h1{
	padding: 0.1em 0 0 0.2em;
}
#user_header h2{
	padding: 0 0 0 0.5em;
}
#user_header_background{
	background: #000;
	border-radius: 0.5em 0.5em 0em 0em;
}
#user_header text{
	text-color: #fff;
}
#user_header h1{
	margin-left: 0.2em;
	margin-bottom: 0.1em;
	color: #fff;
}

#user_header h2{
	margin-left: 0.5em;
	margin-bottom: 0.1em;	
	 font-size: 1.5em;
	color: #fff;
}
.header_tabs{
  float:right;
 	border-left: 2px solid #E46900;
 	border-top: 2px solid #E46900;
 	border-right: 2px solid #E46900;
	padding: 0 1em 0 1em;
	text-align:center;
	margin-right:auto;
	background: rgba(255, 255, 255, 0.9);
	font-size: 1.3em;
	line-height: 1.8em;
	border-radius: 0.4em 0.4em 0em 0em;
	margin: 0em 0.3em 0em 0em;
}

#current_tab{
	background: rgba(255,255,255, 1);
	border-left: 2px solid #ffffff;
 	border-top: 2px solid #ffffff;
 	border-right: 2px solid #ffffff;
}

#current_tab a{
	font-weight: bold;
}
#user_info_tabs{
	text-align:center;
	color: #000;
	margin-bottom:0.5em;
	font-size: 1.2em;
	padding: 0 0.4em 0 0.4em;
}

#user_info_tabs_containter{
		margin-top:1em;
		margin-left:0.5em;
}

#profile_div{
	padding: 0.5em 0 0 0 ;
	background-color: #eee;
	min-height: 40em;
	border-radius: 0em 0em 0em 0.5em;

}


#project_kind{
  float:left;
	border: 1px solid #E45218;
	text-align:center;
	-border-radius: 5px;
	-webkit-border-radius: 5px;
	 font-size: 1em;
	-moz-border-radius: 5px;
	color: #E45218;
	margin-right:0.5em;
	padding: 0 0.5em 0 0.5em;
	font-weight: bold;

}

#project_header{
	text-align:center;
	 font-size: 1.2em;
	font-color:#000;
   	color: #ffffff;
}

#project_header li.current a{
    background: url("/images/bg-gradient.png") repeat-x scroll 0 -1px rgba(255, 255, 255, 0.5);
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0);
    font-weight: bold;
    padding: 0.714em 2em;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

#project_header ul{
	 margin: 0 0em 0em 0 ;
	padding-left:1em;
   list-style: none outside;
}

#project{
	background: #fff;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 2px 5px 2px#888;
	box-shadow: 0 0 5px 5px #888;
}

#project_header li{
	 float: left;
   margin: 0 1em 0 0;
   
}

#project_name {
  color: #eee;
  font-size: 3em;
}

#project_name_div {
  font-size: 1.3em;
}

#project_edit_name {
  color: #eef;
  font-size: 1em;
}


#project_name_div a{
  font-size: 1.3em;
  font-weight: bold;
  color: #111;
}

#project_description_div{
	font-size: 1em;
	line-height: 1em;
	padding-bottom: 0.5em;
}

#maker_name{
  font-size: 0.8em;
	margin-right: 2em;
}

#header{
   background-color: #333;
   color: #ffffff;
   font-size: 1em;
   margin-bottom: 1em;
   font-weight: bold;
}

#header{
  margin:0 0 1em 0;
}

#header a{
   color: #ffffff;
   font-weight: bold;
}

#footer{
   align: center;
   color: #000000;
   font-size: 0.8em;   
	 margin-top: 3em;
   margin-bottom: 3em;
   font-weight: bold;
}

#footer a{
   color: inherit;
}
#header_menu{
   text-align:right;

}

#add_collaborator{
  text-align: right;
}

#projects {
  float: left;
}

#projects img{
	border:0px;
}
</style>
</head>
<body>
   <%= render 'layouts/header' %>

<div class="container">

<section class ="round">
	<% flash.each do |key, value| %>
		<div class = "flash <%= key %>"><%= value %></div>
	<% end %>
	
</section>
<div id="container_background">
	<%= yield %>
</div>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development?%>
</body>
</html>
