<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>
<style type="text/css">
.sidebar_header {
 background-color:#333;
 color: #FFF;
 font-size: 1.5em;
 padding-left: 0.5em;
 }

.user{
  font-size: 1.5em; 
  height: 80px;
  padding-top: 0.5em;
}

a{
	color: #333;   
	font-weight: bold;
	text-decoration: none;
}
#project_summary td{
  background: inherit; 
}

#login_special{
	color: #660;   
	font-size: 1.3em;	
	margin-top: 1em;
   margin-bottom: 1em;
 	border: 1px solid #D8A800;
	text-align:center;

}
#login_special a{
	color: #B67300;   
	text-align:center;	

}
#project_kind{
 	border: 2px solid #500;
	width: 6em;
	text-align:center;
	margin-right:auto;
	background-color:#eee;
	border-radius: 3px;
	 font-size: 0.72em;
	-moz-border-radius: 2px;
	color: #300;

}

#project_header{
	text-align:center;
	 font-size: 1.2em;
	background-color:#533;
	font-color:#000;
   	color: #ffffff;
}

#project_header a{
	 color: #ffffff;
}

#project_name{
  font-size: 3.5em;
}

#project_name_div{
  font-size: 1.2em;
}

#project_name_div a{
  font-size: 1.7em;
}

#project_description_div{
	font-size: 0.8em;
}

#maker_name{
  font-size: 0.8em;
	margin-right: 2em;
}

#header{
   background-color: #333;
   color: #ffffff;
   font-size: 1em;
   margin-bottom: 1em;
   font-weight: bold;
}

#header a{
   color: #ffffff;
   font-weight: bold;
}

#footer{
   allign: center;

   background-color: #fff;
   color: #000000;
   font-size: 0.8em;   
	margin-top: 3em;
   margin-bottom: 3em;
   font-weight: bold;
}

#footer a{
   color: inherit;
}
#header_menu{
   text-align:right;

}

#add_collaborator{
  text-align: right;
}
</style>
</head>
<body>
   <%= render 'layouts/header' %>

<div class="container">
<section class ="round">
	<% flash.each do |key, value| %>
		<div class = "flash <%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
</section>
</div>
<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development?%>
</body>
</html>
